
.content-over p, .content-over h2 {
color: white; 
position: relative;
z-index: 1; 
display: block;

}

.content-over h2{
font-family: Arial, Helvetica, sans-serif;
margin-top: 20px;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line;
}

.pub-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.issue-title{
    /* border: 1px red solid; */
    width: 20em;
    min-width: 20em;
    margin-left: 0px;
    /* padding: 70px 70px 10px 20px; */
    /* padding: 0.5em; */
    vertical-align: top;
    /* border: 1px solid #ccc; */
}

.pic-border{

    height: 100%;
    width: 100%;
}

.pic-border img{
    width: 50%;
    min-width:100px;
    height: 100%;
    margin: 10px 10px 10px 10px;
}

.issue-details {
    padding: 20px 0px 0px 10px;
    
}

.issue-details h4 {
    color: #285581;
}

.issue-details p {
    margin-bottom: 10px;
    color: #959595;
}


.sort-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 10px;
    padding: 0px 0px 0px 10px;
}

.sort-container label {
    margin-right: 10px;

}
.sort-container select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
.all-issues{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 70px;
}



.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.continue-reading {
    flex-grow: 2; /* Takes two-thirds of the space */
    margin-right: 20px;
}

.article-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.article-content {
    max-width: 70%;
}
.article-content h6{
    color: #0858a4;
    cursor: pointer;
}
.article-content p{
    color: #454545;
}
        .article-stats {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
        }

        .download-buttons {
            display: flex;
            justify-content: space-between;
            padding: 5px;
        }

        .download-buttons button {
            border: 2px #0858a4 solid;
            background-color: transparent;
			border-radius: 20px;
            color: #0858a4;
            cursor: pointer;
			padding: 5px 10px 5px 10px;
			
        }

        .stats-container {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .view-download {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }

        .horizontal-line {
            border-bottom: 1px solid #dddddd;
            width: 100%;
        }

        .stats-value {
            font-size: larger;
            margin-bottom: 5px;
        }

        .stats-label {
            font-size: smaller;
            text-transform: uppercase;
            margin: 0;
        }
.article-tags .tag {
    display: inline-block;
    background-color: #e1e1e1;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    
}





.recommendation-article{
    display: block;
    width: 100%;
    height: 400px;
    background-color: #F5F7F8;
    padding-top: 50px;
}

.recommendation-article h4{
    color: #115272;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 95px;
    display: flex;
}

.articles-container {
    width: 85%;
    height: auto;
    border: none;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.articles-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
}

.articles-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.article {
    margin-top: 20px;
    width: 25%;
    height: 100%;
    margin-right: 80px;
    background-color: transparent;
    display: inline-block;
    white-space: normal; 
}

.article .h6{
    font-family: 'Times New Roman', Times, serif;
    color: #115272;
    width: auto;
    cursor: pointer;

}

.article-info{
    opacity: 0.6;
    font-size: 12px;
    width: 100%;
}

.author{
    color: #115272;
    font-size: 12px;
    display: block;
}

.article-content{
    color: black;
    font-size: 12px;
}


.btn-article:hover{
    border: 2px #115272 solid;
    background-color: transparent;
    border-radius: 20px;
    color: #115272;
    opacity: 0.8;
}