.content-over {
    position: relative;
    width: 100%;
    height: 30vh;
    background-image: url(../images/qcu-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 70px;
    padding-left: 150px;
    
}

.content-over::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(53, 68, 74, 0.7);
}

.content-over p, .content-over h2 {
color: white; 
position: relative;
z-index: 1; 
display: block;

}

.content-over h2{
font-family: Arial, Helvetica, sans-serif;
margin-top: 20px;
}



p{
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line;
}
.border-joy img{
    border: 1px #0858a4 solid;
    height: 50vh;
    padding:  10px 10px 10px 10px;
}

.img-announce{
    height: 100%;
    padding: 15px;
}

.announce_1 {
    display: flex;
    align-items: center;
    width: 100%;
}

.blank-space{
    width: 100%;
}

.announce_2 {
    display: flex;
    align-items: center;
    width: 90%;
}

.announce-text p {
    overflow: auto; /* or scroll if you want a scrollbar */
    max-height: 200px; /* adjust the height as needed */
} 

.announce-text p::-webkit-scrollbar{
    width: 0; /* Remove scrollbar width */
    height: 0; /* Remove scrollbar height */
    visibility: hidden; /* Hide scrollbar */
}

.announce-text h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0858a4;
}

.border-qcu {
    border: 1px #0858a4 solid;
    height: 400px;
}

.img-announce {
    height: 100%;
    padding: 15px;
}


.announce-text-2 h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0858a4;
}



.featured {
    background-color: #B7CBD4;
    margin-top: 100px;
}
.featured h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #0858a4;
}
.example-featured {
    border-color: #0858a4;
    border-radius: 5%;
    border: 2px solid;
    height: 60vh;
    text-align: center; 
    box-shadow: 0 0 20px gray;
    background-color: white;
}


.example-featured h3 {
    text-align: center;
    margin-top: 50px;
}

.example-featured p {
    text-align: center;
    text-align: justify;
}

.example-featured a{
    text-decoration: none;
}

.ex-featured {
    display: flex;
    justify-content: center; /* Center horizontally within the container */
    align-items: center; /* Center vertically within the container */
}



.watch-vid{
display: block;
width: 100%;
height: 50px;
background-color: #0858a4;
}

.watch-vid h2{
color: white;
font-family: Arial, Helvetica, sans-serif;
margin-left: 95px;
display: flex;
padding-top: 30px;

}

.video-container {
width: 85%;
height: auto;
border: none;
margin-left: auto;
margin-right: auto;
overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
}

.video-container::-webkit-scrollbar {
width: 0.5em;
background-color: transparent;
}

.video-container::-webkit-scrollbar-thumb {
background-color: transparent;
}

.video{
margin-top: 60px;
height: 100%;
margin-right: 80px;
display: inline-block;
white-space: normal;
}

.video img{
    height: 25vh;
    width: 40vh;
}


.policy h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #0858a4;
}


.policy p {
    overflow: auto; /* or scroll if you want a scrollbar */
    max-height: 100px; /* adjust the height as needed */
}
.policy p::-webkit-scrollbar {
    width: 0; /* Remove scrollbar width */
    height: 0; /* Remove scrollbar height */
    visibility: hide; /* Hide scrollbar */
}

.qcu-date-container{
    text-align: right;
}

.qcu-name{
    font-size: small;
    color: #0858a4;
    display: inline-block;
    margin-right: 70px;
}
.qcu-date{
    font-size: small;
    color: gray;
    display: inline-block;
    padding-right: 20px;
}

