
.content-over {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2em 10vw ;
   
    
}

.content-over::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #F5F7F8;
}

.content-over h3, .content-over p {
color:#0858a4; 
position: relative;
z-index: 1; 
display: block;
}

.content-over h3{
font-size:1.5em;
font-family: Arial, Helvetica, sans-serif;
width: 75%;
}

.authors{
    display: inline-block;
    width: 50%;
}

.authors p{
    color: black;
    margin: 0;
}

.volume{
    display: inline-block;
    text-align: left;
}

.volume p{
    color: black;
    margin: 0;
}

.abstract{
    margin-left: 150px;
    /* padding-top: 40px; */
    display: inline-block;
    width: 60%;
}

.abstract p{
    
    text-align: justify;
    margin-top: 10px;
}

.abstract h4{
    font-family: Arial, Helvetica, sans-serif;
    color:#0858a4; 
}

.abstract button{
color: white; 
position: relative;
z-index: 1;
background-color: #0858a4;
border-radius: 20px;
margin-top: 20px;
padding:0.5em 1.5em;
}

.abstract button:hover{
color: white; 
position: relative;
z-index: 1;
background-color: #0858a4;
border-radius: 20px;
margin-top: 20px;
opacity: 0.8;
}

#btn2{
border: 2px #0858a4 solid;
background-color: transparent;
color: #0858a4;
}

.btn {
    outline: none;
}
.articles-info{
    box-sizing: border-box;
    display:inline-block; 
    width: 20%;
    margin-left: 80px;
    /* position: absolute; */
 
}

.articles-info p{
    color:#0858a4; 
    margin: 0;
}
.views-dl {
    display: flex;
    gap:2em;
}
.views{
    display: grid;
    place-items: center;
    /* display: inline-block; */
}

.downloads{
    /* display: inline-block;
    padding-left: 100px; */
    display: grid;
    place-items: center;
}
.citations{
    display: grid;
    place-items: center;
    /* display: inline-block;
    padding-left: 100px; */
}

.article-pub h4{
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.article-pub p{
    color: gray;
}

.article-pub a{
    color: #0858a4;
    border: 1px #0858a4 solid;
    border-radius: 10px;
    text-decoration: none;
    padding: 3px;
}

.keyword1{
    display: flex;
    gap:2px;
    flex-wrap: wrap;
    
}

.keyword2{
    display: block;
}

.recommendation-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    min-height: 400px;
    background-color: #F5F7F8;
    padding-top:2em;
    padding-bottom:2em;
}

.recommendation-article h4{
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
    width:85%;
}

.articles-container {
    width: 85%;
    height: auto;
    border: none;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.articles-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
    /* border:1px solid red; */
}

.articles-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.article {
    width: 25%;
    height: 100%;
    margin-right: 80px;
    background-color: transparent;
    display: inline-block;
    white-space: normal; 
}

.article .h6{
    font-family: Arial, Helvetica, sans-serif;
    color: #0858a4;
    width: auto;

}

.article-info{
    opacity: 0.6;
    font-size: 12px;
    width: 100%;
}

.author{
    color: #0858a4;
    font-size: 12px;
    display: block;
}

.article-content{
    color: black;
    font-size: 12px;
}


.btn-article:hover{
    border: 2px #0858a4 solid;
    background-color: transparent;
    border-radius: 20px;
    color: #0858a4;
    opacity: 0.8;
}

.frame-border{
    height: 1000px;
    margin-bottom: 30px;
}

.pic-frame{
    display: block;
    border:2px solid gray;
    margin-left: 150px;
    width: 57%;
    height: 100%;
}

.pic-frame img{
    width: 100%;
    height: 100%;
}
