.content-over {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2em 10vw ;
   
    
}

.content-over::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #F5F7F8;
}

.content-over h3, .content-over p {
color:#0858a4; 
position: relative;
z-index: 1; 
display: block;
}

.content-over h3{
font-size:1.5em;
font-family: Arial, Helvetica, sans-serif;
width: 75%;
}

.authors{
    display: inline-block;
    width: 50%;
}

.authors p{
    color: black;
    margin: 0;
}

.volume{
    display: inline-block;
    text-align: left;
}

.volume p{
    color: black;
    margin: 0;
}

.abstract{
    /* padding-top: 40px; */
    display: inline-block;
    width: 60%;
}

.abstract p{
    
    text-align: justify;
    margin-top: 10px;
}

.abstract h4{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#0858a4; 
}

.abstract button{
color: white; 
position: relative;
z-index: 1;
background-color: #0858a4;
border-radius: 20px;
margin-top: 20px;
padding:0.5em 1.5em;
}

.abstract button:hover{
color: white; 
position: relative;
z-index: 1;
background-color: #0858a4;
border-radius: 20px;
margin-top: 20px;
opacity: 0.8;
}

#btn2{
border: 2px #0858a4 solid;
background-color: transparent;
color: #0858a4;
}

.btn {
    outline: none;
}
.articles-info{
    box-sizing: border-box;
    display:inline-block; 
    width: 20%;
    margin-left: 80px;
    /* position: absolute; */
 
}

.articles-info p{
    color:#0858a4; 
    margin: 0;
}
.views-dl {
    display: flex;
    gap:2em;
}
.views{
    display: grid;
    place-items: center;
    /* display: inline-block; */
}

.downloads{
    /* display: inline-block;
    padding-left: 100px; */
    display: grid;
    place-items: center;
}
.citations{
    display: grid;
    place-items: center;
    /* display: inline-block;
    padding-left: 100px; */
}

.article-pub h4{
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.article-pub p{
    color: gray;
}

.article-pub a{
    color: #0858a4;
    border: 1px #0858a4 solid;
    border-radius: 10px;
    text-decoration: none;
    padding: 3px;
}

.keyword1{
    display: flex;
    gap:2px;
    flex-wrap: wrap;
    
}

.keyword2{
    display: block;
}

.recommendation-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    min-height: 400px;
    background-color: #F5F7F8;
    padding-top:2em;
    padding-bottom:2em;
}

.recommendation-article h4{
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
    width:85%;
}
.articles-container {
width: 85%;
height: auto;
border: none;
margin-left: auto;
margin-right: auto;
overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
display:flex;
gap:24px;
border-radius: 8px;
padding:2em 0;
}

.articles-container-monthly{
width: 85%;
height: auto;
border: none;
margin-left: auto;
margin-right: auto;
overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
}

.articles-container::-webkit-scrollbar {
width: 0.5em;
background-color: transparent;
}

.articles-container::-webkit-scrollbar-thumb {
background-color: transparent;
}

.articles-container-monthly::-webkit-scrollbar {
width: 0.5em;
background-color: transparent;
}

.articles-container-monthly::-webkit-scrollbar-thumb {
background-color: transparent;
}

.article {
padding: 2em;
width: 25%;
min-width: 320px;
height: 100%;
background-color: white;
display: inline-block;
white-space: normal; 
border-radius: 4px;
border: 1px solid #F2F2F2;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.025);


}
.article:hover{
    background-color: rgba(239, 242, 248, 0.617);
}

.article .h6{
font-family: Arial, Helvetica, sans-serif;
color: #0858a4;
width: auto;

}

.article-info{
opacity: 0.6;
font-size: 12px;
width: 100%;
}

.author{
    color: #0858a4;
    font-size: 12px;
    display: block;
}

.article-content{
    color: black;
    font-size: 12px;
}


.btn-article:hover{
    border: 2px #0858a4 solid;
    background-color: transparent;
    border-radius: 20px;
    color: #0858a4;
    opacity: 0.8;
}

#download-btn, #epub-btn {
    background-color: white;
    color: #0858a4;
    border-color: #0858a4;
}

.frame-border{
    height: 1000px;
    margin-bottom: 30px;
}

.pic-frame{
    display: block;
    border:2px solid gray;
    margin-left: 150px;
    width: 57%;
    height: 100%;
}

.pic-frame img{
    width: 100%;
    height: 100%;
}

#citation-container {
    position: fixed;
    width: 100vw;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(30, 30, 30, 0.206);
    z-index: 99;
}

#citations {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 40em;
    height: 24em;
    background-color: #F5F7F8;
    z-index: 99;
    padding: 2em;
    border-radius: 4px;
}

.cite-btn {
    outline: none;
    border: none;
    background-color: #0858a4;
    border-radius: 20px;
    padding:0.5em 1.5em;
    color: white;
}


.container-fluid{
    font-family: Arial, Helvetica, sans-serif;
}

.popup-form {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    width: 100%;
    max-width: 100%;
}

/* Adjust the position of the popup */
.popup-form {
    top: 100%;
    left: 5%;
}

/* Style for the link */
#popup-link {
    position: relative;
}

/* Style for the link when hovered */
#popup-link:hover .popup-form {
    display: block;
}

.arrow-icon {
    position: absolute;
    top: 50%; /* Adjust the vertical position */
    left: 3%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    display: none;
    color: gray; /* Set the color to your preference */
}

#popup-link:hover .arrow-icon {
    display: inline;
}

.main {
    background-color: white;
}

.main-profile {
    background-color: white;
    padding: 20px;
    border: 1px solid white;
    margin: 20px 40px 20px 40px;
    box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.5);
}

.profile-container {
    display: flex;
    background-color: white;
    justify-content: center;
    width: 100%;
    position: relative;
    
}

.profile-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    width: 100%;
}

.profile-main {
    width: 30%;
    
}

.profile-pic, .viewer{
    /* display: block; */
    width: 40px;
    /* Adjust as needed */
    height: 40px;
    /* Adjust as needed */
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prof-info h2{
    font-size:x-large;
}

.prof-info a{
    font-size:15px;
    text-decoration: none;
}

.xp-container {
    margin-top: 20px;
    /* Add some space between the content and XP container */
}

.xp-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.xp-label {
    font-weight: bold;
    margin-top: 5px;
    color: #0858a4;
}

.progress-bar {
    width: 100%;
    height: 15px;
    background-color: #ddd !important;
    /* Bar background color */
    border-radius: 20px;
    z-index: 999
}

.progress {
    height: 100%;
    background-color: #588297 !important;
    /* Progress color */
    border-radius: 20px;
    z-index: 999
}

.badge-box {
    width: 150px;
    border: 1px solid #ccc;
    margin-bottom: 10px; /* Add space between individual boxes */
    flex-direction: column; /* Change the direction to column for smaller screens */
}

.img-badge {
    /* display: block; */
    width: 70px;
    /* Adjust as needed */
    height: 70px;
    /* Adjust as needed */
    margin-top: 10px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#seeMore-btn {
    background-color: white;
    color: #0858a4;
    border-color: #0858a4;
    border-radius: 20px;
}

#seeMore-btn:hover{
    color: white; 
    position: relative;
    z-index: 1;
    background-color: #0858a4;
    opacity: 0.8;
}





