.content-over {
  position: relative;
  width: 100%;
  max-height: 20em;
  background-image: url(../images/qcu-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 2em 8%;
  display: inline-flex;
  flex-direction: column;

}

.content-over::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 68, 74, 0.7);
}

.content-over h3 {
  font-size: 24px !important;
  color: white;
  position: relative;
  z-index: 1;
  display: block;

}

.content-over h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.content-over button {
  font-size: 14px;
  color: white;
  position: relative;
  z-index: 1;
  background-color: #eceef1;
  border-radius: 20px;
  margin-top: 20px;
}



.content-over button:hover {
  color: white;
  position: relative;
  z-index: 1;
  background-color: #eceef1;
  border-radius: 20px;
  margin-top: 20px;
  opacity: 0.8;
}

#btn1 {
  font-size: 14px;
  background-color: #E56F1F;
  margin-right: 10px;
  width: 50%;
  min-width: 120px;
  max-width: 175px;
}

#btn2 {
  border: 2px white solid;
  margin-right: 10px;
  background-color: transparent;
  width: 50%;
  min-width: 120px;
  max-width: 175px;
}

.main {
  padding: 2em 8%;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* padding-top: 3%; */
}

.graph-section,
.stats-section {
  flex: 1;
  /* padding: 20px; */
  background-color: #f9f9f9;
}

.graph-section {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  /* Changed to white */
  border: 1px solid #ddd;
  /* Added a light grey border */
  /* margin-right: 20px; */
}

.graph-section h3 {
  font-size: 16px;
  font-weight: 600;
}

.stats-section {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* two columns of equal size */
  gap: 20px;
  /* space between grid items */
  background-color: #fff;
  /* Clear white background */
  /* padding: 20px; */
}

.stat-card {
  background: #f7f9ff;
  border-radius: 15px;
  /* Rounded corners as per your image */
  padding: 20px;
  /* Padding inside cards */
  position: relative;
  /* For absolute positioning of the increase label */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

}

/* Top cards styling */
.stat-card.top-card {
  text-align: left;
  /* Align text to the left */
}

.stat-card.top-card h2,
.stat-card.top-card p {
  margin: 0;

}

.stat-card.top-card h2 {
  font-size: 18px;
  /* Adjust font size as needed */
  font-weight: 600;
  /* Semi-bold */
  color: #697077;

}

.stat-card.top-card p {
  font-size: 16px;
  /* Larger font size for the numbers */
  margin-top: 4px;
  /* Space between the title and the number */
  color: #696969;
  font-weight: 400;
}

/* Increase label styling */
.increase {
  font-size: 12px;
  background-color: #45D700;
  /* Lighter green background for the increase label */
  color: #FFFFFF;
  /* Green text color for the increase label */
  padding: 5px 10px;
  border-radius: 10px;
  /* Rounded corners for the label */
  position: absolute;
  /* Absolute positioning inside the stat card */
  right: 20px;
  /* Align to the right */
  bottom: 20px;
  /* Align to the bottom */
  font-weight: 600;
}

/* Bottom cards styling */
.stat-card.bottom-card {
  grid-column: span 2;
  /* Stretch across both columns */
  background: #F5F7FF;
  /* Different background color for the bottom cards */
  display: flex;
  /* Use flexbox to align items on the same line */
  align-items: center;
  /* Center items vertically */
  justify-content: space-between;
  /* Distribute space between items */
}

.stat-card.bottom-card .content {
  flex: 1;
  /* Allows the content to grow and take up available space */
}

.stat-card.bottom-card h2 {
  font-size: 18px;
  /* Adjust font size as needed */
  color: #697077;
  /* Dark green text color */
  font-weight: 600;
  /* Semi-bold */
  margin: 0;
  /* No margin for the title */
}

.stat-card.bottom-card p {
  font-size: 16px;
  /* Adjust font size as needed */
  color: #696969;
  /* Dark green text color */
  margin: 0;
  /* No margin for the paragraph */
  font-weight: 400;
}

.articles-section {
  background-color: #fff;

}

.tab {
  font-family: 'Judson', serif;

  /* display: inline-block;
padding: 8px 40px; */
  display: inline-flex;
  /* justify-items: center; */
  text-align: center;
  /* align-items: center; */
  border-bottom: 3px solid #f8f8f8;
  cursor: pointer;
  color: #7c7c7c;
  border-radius: 15px 15px 0 0;
  /* Rounded corners */
  background-color: #f8f8f8;
  /* Background color */
  margin-right: 0;
  /* Removes the margin */
  font-weight: 400;
  width: 14em;
  /* text-transform: uppercase; */

  font-size: 16px;
}

.tab.active {
  color: #004e98;
  width: 18em;
  border-bottom: 3px solid #004e98;

}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  font-size: 14px;
  /* border-top: 16px solid #f8f8f8; */
  /* margin-bottom: 40px; */
}

th,
td {
  padding: 8px;
  text-align: left;

}

td {
  color: #3a3a3a;
  font-weight: 400;
}

thead tr {
  border-bottom: 3px solid #f8f8f8 !important;
  border-top: 3px solid #f8f8f8 !important;

}

tbody tr {
  border-bottom: 2px solid #f8f8f8 !important;
}

tr:hover {
  background-color: #f9f9ff;
}

th {
  font-weight: 600;

}

.status-label {
  display: inline-block;
  border-radius: 25px;
  padding: 5px 10px;
  /* Appropriate padding */
  color: white;
  /* White text */
  font-size: 0.8em;
  /* Smaller font size */
  text-transform: uppercase;
  /* Uppercase text */
}

.pending {
  color: #D26767;
  border: 1px solid #D26767;

}

.published {
  color: #3ABC5E;
  border: 1px solid #3ABC5E;
}

#btn3, #btn3D{
  padding: 8px 40px;
  font-size: 14px;
  border: none;
  background-color: #0056b3;
  color: #eceef1;
  border-radius: 20px;
  cursor: pointer;
  float: right;
}

#btn3:hover {
  background-color: #eceef1;
  color: #3a3a3a;

}

#btn3D:hover {
  background-color: #eceef1;
  color: #3a3a3a;

}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.pagination {
  font-size: 14px;
  color: #7c7c7c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.pagination-controls button {
  font-size: 14px;
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0 3px;
  background-color: white;
  cursor: pointer;
}

.pagination-controls button.active {
  background-color: #eceef1;
  /* color: white; */
}

.pagination-controls button:hover {
  background-color: #eceef1;
  /* color: white; */
}


