.form-control {
    z-index: 1;
    position: relative;
}

.form-control:focus {
    outline: none;
}

.main-container {
    display: flex;
    /* margin: 20px; */
    margin-top: 20px;
    width: 85% !important;
    height: auto;
    margin-bottom: 50px;
}

.info-container {
    position: relative;
    z-index: 1;
}

.content-over {
    position: relative;
    width: 100%;
    /* height: 10em; */
    max-height: 20em;
    background-image: url(../images/qcu-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding-top: 70px; */
    padding: 2em 8%;
    display: inline-flex;
    flex-direction: column;
}

.content-over::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 68, 74, 0.7);
}

.content-over p,
.content-over h4 {
    color: white;
    position: relative;
    z-index: 1;
    display: block;
}

.content-over h4 {
    font-weight: 500 !important;
}

.content-over button {
    color: white;
    position: relative;
    z-index: 1;
    background-color: #E56F1F;
    border-radius: 20px;
    /* margin-top: 20px; */
    padding: 0.5em 1em;
}

.content-over button:hover {
    color: white;
    position: relative;
    z-index: 1;
    background-color: #E56F1F;
    border-radius: 20px;
    /* margin-top: 20px; */
    opacity: 0.8;
}

.info-container span {
    color: white;
    position: relative;
    z-index: 1;
    font-size: 10px;

}

.sidebar {
    flex-basis: auto;
    width: 28%;

    padding-left: 8%;
    padding-right: 20px;
    /* border: red 1px solid; */
}
.articles-containers {
    flex-grow: grow;
    max-width: 72%;
}
.articles {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    /* border: red 1px solid; */
}

.articles:hover {
    background-color: rgba(239, 242, 248, 0.456);
}
.article-details {
    flex: 3;
    color: #454545;
    /* border: green 1px solid; */
}

.article-details .keywords {
    margin-bottom: 10px;
}

.article-details .keyword {
    display: inline-block;
    background-color: #f4f4f4;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 0.875em;
    color: #0858a4;
    margin-bottom: 5px;
}

.article-details h6 {
    color: #0858a4;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.article-stats {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.stats-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.view-download {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-value {
    font-size: larger;
}

.stats-label {
    font-size: smaller;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .main-container {
        flex-direction: column;

    }

    .published-info {
        align-self: flex-start;
        justify-content: left;
        width: 100%;
    }

    .published-info h5,
    .published-info p {
        margin: 0;
        text-align: left;
    }

    .publish-label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .authors {
        font-style: italic;
    }
}

@media screen and (max-width: 768px) {
    .article {
        flex-direction: column;
    }

    .sort-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .sort-header {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;
    }

    .sort-icon {
        font-size: 16px;
        cursor: pointer;
    }

    .sort-container label {
        margin-right: 10px;

    }

    .sort-dropdown {
        margin-top: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px 8px;
        font-size: 16px;
        cursor: pointer;
        width: auto;
    }

    .sort-container select {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
    }

    .checkbox-container {
        margin-top: 10px;
    }

    .checkbox-label {
        font-family: 'Inter', sans-serif;
        margin-bottom: 5px;
        display: block;
    }

    .checkbox {
        margin-bottom: 10px;
    }

    .pagination {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 20px 0;
    }

    .pagination a {
        text-decoration: none;
        padding: 8px 12px;
        border: 1px solid #ccc;
        margin: 0 5px;
        border-radius: 4px;
        color: #0858a4;
        cursor: pointer;
    }

    .pagination a.active {
        background-color: #0858a4;
        color: #fff;
    }
}
 #skeleton-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1em 0;
    gap: 0.5em;
  }
  

  #skeleton-container div {
    width: 100%; 
    height: 14vh; 
    background-color: #eeeeee; 
    border-radius: 4px;
    animation: skeleton-fade 1.5s infinite ease-in-out;
  }

  .journal-preview {
    display: none;
    flex-direction: column;
    gap: 0.5em;
  }
  .journal-preview ul {
    padding:0;
  }
  .journal-preview ul li {
    list-style: none;
    margin-bottom: 16px;
  }
  .journal-preview ul li h3 {
    font-size: 16px ;
    text-decoration: none;
    color: #0858a4; 
    font-weight: 600;
    font-family: 'Inter', sans-serif !important;
  }
  .journal-preview ul li span {
    color: #959595; 
  }
  .journal-preview img{
    width: 8em;
    object-fit: cover;
    height:12em;
  }

  #journals-container button{
    background-color: transparent !important;
    outline: none;
    border: none;
    padding: none;
  }

  #selected-filters span {
    border:1px solid #0858a4;
    padding: 0.5em;
    font-size: 12px;
    border-radius: 2em;
    color: #0858a4;
    display: flex;
    gap: 1;
  }
  @keyframes skeleton-fade {
    0%, 100% {
      opacity: 0.5;
    }

    50% {
      opacity: 1;
    }
  }