.fill-info label{
    margin-top: 10px;
    display: block;
    color: #285581;
}

.fill-info input , .fill-info select , .fill-info textarea {
    width: 100%;
    resize: none;
    border-color: #CCCCCC;
}

.btn-info button {
    color: white;
    position: relative;
    z-index: 1;
    background-color: #285581;
    border-radius: 20px;
    /* margin-top: 20px; */
    padding: 0.5em 1em;
}
  
.btn-info button:hover {
    color: white;
    position: relative;
    z-index: 1;
    background-color: #E56F1F;
    border-radius: 20px;
    /* margin-top: 20px; */
    opacity: 0.8;
}

.contact-info{
    background-color: #285581;
}

.contact-info i{
    cursor: pointer;
}

.facebook a , .number a, .gmail a , .location a{
    text-decoration: none;
    font-size: large;
    margin-left: 10px;
    color: white;
}

iframe{
    width: 100%;
    height: 32vh;
    padding: 10px;
}

