/* .main-content{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
} */
h2 {
text-align: center;
}

h3 {
color: var(--main) !important;
}
.content-over {
    position: relative;
    width: 100%;
    height: 9em;
    max-height:20em;
    background-image: url(../images/qcu-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding-top: 70px; */
    padding: 2em 8%;
    display: inline-flex;
    flex-direction: column;
}

.content-over::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 68, 74, 0.7);
}

.content-over p, .content-over h4 {
    color: white; 
    position: relative;
    z-index: 1; 
    display: block;
}

.content-over h4{
    font-weight: 500 !important;
}

.second-container{
    /* background-color: #004e98; */
}

.dev-team{
    background-color: #E5F5FF;
}

.dev-team h2, .dev-team h3{
    color: #115272;
}

.head-text p{
    color: #FFFFFF;
    font-size: small;
}


.leaders-content , .members-content{
    background-color: #FFFFFF;
    width: 20%;
    border-radius: 4px;
    height: 100%;
    padding:16px 0px;
}


.leaders-content img , .members-content img{
    /* height: 28vh; */
    width: 80%;
    border-radius: 3px;
    /* padding: 10px; */
}

.leaders-content span , .members-content span{
    font-size: larger; 
    font-weight: bold; 
    color:#115272;
}


.description{
    padding-top:4px;
    padding-left: 8px;
    padding-right: 8px;
}

.description p {
    font-family: Arial, Helvetica, sans-serif;
    max-height: 200px; /* adjust the height as needed */
}

.soc-links{
    font-size:large;
    display: flex;
    flex-direction: row ;
}






/* Media query for mobile view */
@media screen and (max-width: 767px) {
    .leaders-content, .members-content {
        width: 80%; /* Adjust width for mobile view */
        margin: 0 auto; /* Center the content horizontally */
    }
}






