.main-content{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.content-over {
    position: relative;
    width: 100%;
    /* height: 10em; */
    max-height:20em;
    background-image: url(../images/qcu-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding-top: 70px; */
    padding: 4em 8%;
    display: inline-flex;
    flex-direction: column;
}

.content-over::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 68, 74, 0.7);
}

.content-over p, .content-over h4 {
    color: white; 
    position: relative;
    z-index: 1; 
    display: block;
}

.content-over h4{
    font-weight: 500 !important;
}

.second-container{
    background-color: #004e98;
}

.dev-team h2, .dev-team h3{
    color: #115272;
}

.head-text p{
    color: #FFFFFF;
    font-size: small;
}


.leaders-content , .members-content{
    background-color: #FFFFFF;
}


.leaders-content img , .members-content img{
    height: 30vh;
    width: auto;
    border-radius: 15px
}

.leaders-content p , .members-content p{
    font-size: larger; 
    font-weight: bold; 
    color:#115272;
}


.description{
    padding-left: 10px;
    padding-right: 10px;
}

.soc-links{
    font-size:xx-large;
}






