#submit-form {
color:  #444444 ;
text-align: justify !important;
}
#form{
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.checkItem {
    display: flex;
    align-items: start;
    gap: 2;
}

#privacy-tab, #article-tab, #file-tab, #contributors-tab, #comment-tab,#review-tab{
    border: none;
    font-size: 14px;
    color: #0858a4;
    margin-right: 5px;
    min-width: 121px;
    border-bottom-color: none;
    margin-bottom: 0px;
}

#privacy-tab:focus, #article-tab:focus, #file-tab:focus, #contributors-tab:focus, #comment-tab:focus,#review-tab:focus{
    background-color: #0858a4;
    color: white;
    border: none;
}

#privacy-tab-pane {    
    padding:2em;
}

#myTab{
    border-bottom: 10px #0858a4 solid;
    padding-top: 24px;
    padding-left: 10px;

  
}

#title-1, #title-2, #title-3{
    font-weight: bold;

}

#sub-1, #sub-2, #sub-3, #sub-4, #sub-5{
    font-weight: normal;
    width: 88%;
}

.form-floating, #form-floating-3{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    min-width: auto;
}

.form-floating-2{
    display: none;
    width: 100%;
    max-width: 350px;
    min-width: auto;
    float: right;
    margin-top: 25px;
}

#duplication-title{
    margin-top: 20px;
}

#duplication-title, .checker-titles, #flaggedT{
    color: #285581;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
}

#flagged{
    margin-bottom: 10px;
    display: none;
    font-weight: bold;
}


.duplicated-article, .journal-type-container{
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    /* font-family: 'Times New Roman', Times, serif; */
}

.suggestion-title{
    /* margin-top: 20px; */
    /* color: #285581; */
    /* font-family: 'Times New Roman', Times, serif; */
    width: 95%;
    font-size: 14px;
    font-size: 14px;
    margin-top: 8px;
    
   
}

#label-title, #label-result{
    text-align: left;
    color:#115272;
    /* font-family: 'Times New Roman', Times, serif; */
  
}

#result-duplication, #result-duplication2{
    text-align: left;
    color:#115272;
    /* font-family: 'Times New Roman', Times, serif; */
}

#similar-title{
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 14px;
    /* font-weight: bold; */
    /* color:#0858a4; */
    /* margin-bottom: 20px; */
    /* font-family: 'Times New Roman', Times, serif; */
}
#similar-abstract{
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 11px;
    font-weight: bold;
    color:#115272;

}

#similar-abstract{
    margin-bottom: 20px;
}

.journal-type-container{
    margin-top: 10px;
}

#journal-type{
    width: 95%;
    display: none;
}


#check-duplication, #btn-okay{
    width: 100%;
    background-color: #0858a4;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
}


#title-1, #title-2, #title-3,#sub-1, #sub-2, #sub-5{
    /* margin-left: 40px; */
    color: #285581;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 80%; */
}

#line-1, #line-2{
    border: 1px #0858a4 solid;
    width: 100%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* .descript-1, .descript-2{
    padding-left: 80px;
    
} */

.descript-1 p, .descript-2 p{
    font-size: 14px;
    width: 88%;
    text-align: justify;
    display: inline-block;
    margin-left: 10px;
    
}




.details{
    display: inline-block;
}

#title-4{
    color: #285581;
    font-weight: bold;
    display: block;
}

#sub-6{
    color: #285581;
    font-weight: normal;
    display: block;
}
 #sub-7, #sub-8{
    margin-left: 40px;
    color: #285581;
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    margin-top: 20px;
}

#vl{
    display: inline-block;
    height: 200px;
    border-left:  2px solid #285581;
    width: auto;
    margin-left: 20px;
    margin-right: 40px;
    
}

.input-details{
    display: inline-block;
    width: 100%;
   
    /* margin-top: 40px; */
}

#sub-9, #sub-10{
    
    font-weight: bold;
    color: #285581;
    font-family: Arial, Helvetica, sans-serif !important;
}

#title{
    margin-bottom: 20px;
}

#title, #keywords{
    /* font-size: 11px; */

}

#keywords{
    margin-bottom: 20px;
}


.input-details-2{
    max-width: 100%;
    min-width: auto;
    height: auto;
}

#sub-11, #sub-12{
   
    font-weight: bold;
    color: #285581;
    font-family: Arial, Helvetica, sans-serif !important;
}



#editor, #editor2, #editor3{
   height: 220px;
   width: 100%;
   resize: none;
   font-size: 14px;
 
}



.table-input, .contributors-container, .comment-container{
    max-width: 100%;
    min-width: auto;
    padding-left: 40px;
}



#title-6, #title-7{
    font-weight: bold;
}





#swal-d, #swal-d-2, #swal-d-3{
    height: 2px;
    background-color: #0858a4;
}

#article-unique{
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
}



#title-6, #title-7, #title-8, #title-9, #title-15,#sub-13, #sub-14 , #sub-15,  #sub-16,  #sub-17,  #sub-18,  #sub-19,  #sub-20, #sub-21, #sub-22, #sub-23, #sub-24, #sub-25, #selectRoleLabel, #selectRoleLabelUpdate{
    
    color: #285581;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  
}

#title-9f{
    margin-top: 40px;
    margin-left: 40px;
    color: #285581;
}

#title-9f, #sub-16f, #sub-17f{
    
    margin-left: 40px;
    color: #285581;
}





#contributor-btn , #upload-btn{
    margin-top: 40px;
    float: right;
    background-color: #0858a4;
    color: white;
    margin-bottom: 20px;
}

#contributor-btn{
    width: 120px;
    height: 35px;
    font-size: 11px;
}

#btn-update{
    margin-right: 10px;
}

#fName, #lName{
    margin-top: 20px;
    width: 50%;
    display: inline-block;
}

#sub-15{
    margin-bottom: 40px;
}



 #sub-16, #sub-17, #sub-20, #sub-21{
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
}

#input1, #input2, #updateInput1, #updateInput2{
    display: inline-block;
    width: 80%;
    height: 30px;
    font-size: 11px;
    margin-left: -20px;
   
}

#input3, #input4, #input6, #input7,  #input8, #updateInput3, #updateInput4, #updateInput5{
    display: inline-block;
    height: 30px;
    font-size: 11px;
    width: 90%;
    margin-left: -20px;
    
   
}

#input7, #input8{
    resize: none;
    height: auto;
}

#selectRole, #selectRoleUpdate{
    height: 30px;
    font-size: 11px;
    width: 90%;
    
    
}

.coAuthor, .pmContact{
    display: inline-block;
    margin-right: 5px;
}


#input5{
    display: inline-block;
    height: 30px;
    font-size: 11px;
    width: 90%;
    margin-left: -20px;
}

#input5f1{
    display: inline-block;
    height: 30px;
    font-size: 11px;
    width: 100%;
    margin-left: -20px;
}



#sub-18, #sub-19, #sub-20, #sub-23, #sub-24, #sub-25{
    text-align: left;
    margin-top: 20px;
}

#selectRoleLabel, #selectRoleLabelUpdate{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;

}

.custom-confirm-button{
    margin-right: -200px;
    background-color: black;
}


#confirmBtn, #update-cont, #btn-article-update{
    background-color: #0858a4;
    height: 35px;
    width: auto;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    float: right;
    
}




.article-info-container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
   

}

.article-header{
    width: 100%;
    display: flex;
    background-color: #0858a4;
    height: 40px;
    padding-top: 8px;
    padding-left: 20px;
}

.file-container{
    width: 100%;
    height: auto;
}



.file-header-container{
    width: 100%;
    display: flex;
    background-color: #0858a4;
    height: 40px;
    padding-top: 8px;
    padding-left: 20px;
}

.cont-container{
    width: 100%;
    height: auto;
}

.cont-header-container{
    width: 100%;
    display: flex;
    background-color: #0858a4;
    height: 40px;
    padding-top: 8px;
    padding-left: 20px;
}


.contHead{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  
}

#dataTables_filter{
    margin-bottom: 20px;
}


#editable-content{
    width: 100%;
    height: auto;
    padding-left: 20px;
        
}

#sub-26,  #sub-28, #sub-29{
    color: #285581;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: -20px;
}

#sub-27{
    font-weight: bold;
    margin-left: -20px;
    text-align: left;
    color: #285581;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;

}

 #sub-30, #sub-31, #sub-32, #sub-33, #sub-34{
    text-align: left;
    color: #285581;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
}

#sub-34{
    display: inline-block;
    margin-left: -240px;
    width: auto;
}


#input15{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    margin-left: 153px;
}

#input15f, #input15g{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
}


#newFile, #newFilef, #newFileg{
    background-color: #0858a4;
    color: white;
    width: auto;
    display: inline-block;
    margin-left: 10px;
    height: 30px;
  
}


#input10, #input10f, #input10g{
    margin-bottom: 20px;
}

#input11, #input12 , #input13, #input14{
    width: 90%;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
}



#input6, #input7,  #input8, #input9,  #input9f,  #inputg{
    width: 100%;
    margin-bottom: 20px;
    
}

#title-10f{
    color: white;
    font-weight: bold;
}


#title-11, #title-12{
    color:#285581;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
 
}

#title-12{
    margin-top: 20px;
}


#title-9, #title-10,  #title-14, #title-15{
    text-align: left;
    color: #285581;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}

#title-15{
    display: block;
}


 #title1f,#title-13{
   color: white;
   font-weight: bold;
}

#title-13{
    width: 400px;
}


.btn-container{
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    
}

#addCont, #deleteCont{
    background-color: #0858a4;
    border: none;
    border-color: none;
   
}




.form-check-label{
    font-size: 11px;
}



#update-cont-2{
    height: 25px;
    margin-right: 20px;
    font-weight: normal;
    font-size: 14px;
    width: 100px;
    border-radius: 10px;
    float: right;
    margin-left: 610px;
    
  }

  #update-cont-3{
    height: 25px;
    font-weight: normal;
    font-size: 14px;
    width: 100px;
    border-radius: 10px;
    display: block;
    margin-left: 580px;
  }

  #update-cont-4{
    height: 25px;
    font-weight: normal;
    font-size: 14px;
    width: 100px;
    border-radius: 10px;
    display: block;
    margin-left: 265px;
    
  }



 
  #loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1000;
}

#loadingSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




#prev, #prev2, #prev3, #prev4, #prev5, #prevReview, #next, #next1, #next3, #next4, #next5, #submit, #check-d{
    float: right;
    margin-left: 10px;
    width: 120px;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
   
}

#submit{
    background-color: #0858a4;
    color: white;
}


#next, #next1, #next3, #next4, #next5{
    background-color: #0858a4;
}


#update-article-title, #updatePreviewFileTitle{
    font-weight: bold;
    color:#0858a4;
    text-align: left;
    margin-bottom: -20px;
}

#abstractInputPreview, #referencetInputPreview{
    resize: none;
}

#previewTitlelabel, #previewAbstractlabel, #previewKeywordlabel, #referenceAbstractlabel, #updatePreviewFile1, #updatePreviewFile2, #updatePreviewFile3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #285581;
    margin-bottom: 5px;
    margin-left: 5px;

}

#titleInputPreview, #abstractInputPreview, #keywordInputPreview, #referencetInputPreview{
    width: 95%;
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 11px;
}

#file1UpdatePreview, #file2UpdatePreview, #file3UpdatePreview{
    width: 70%;
    margin-left: -25px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 11px;
    display: inline-block;

}

#btnSelectFile1, #btnSelectFile2, #btnSelectFile3{
    display: inline-block;
    background-color: #0858a4;
    
}


#btnPreview_Update{
    background-color: #0858a4;
    color: white;
    float: right;
    margin-right: 15px;
}

#btnClose{
    display: block;
    float: right;
    margin-right: 30px;
    
}

@media screen and (max-width: 768px) {
    #title-1, #sub-1{
        width: 100%;
    }
    /* .descript-1, .descript-2{
        margin-left: 0;
    } */
}