
#form{
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#privacy-tab, #article-tab, #file-tab, #contributors-tab, #comment-tab,#review-tab{
    border: 1px solid;
    font-size: 11px;
    color: #0858a4;
    margin-right: 5px;
    width: 121px;
    border-bottom-color: none;
}

#privacy-tab:focus, #article-tab:focus, #file-tab:focus, #contributors-tab:focus, #comment-tab:focus,#review-tab:focus{
    background-color: #0858a4;
    color: white;
    border: none;
}

#privacy-tab-pane {    
    padding:2em;
}

#myTab{
    border-bottom: 20px #0858a4 solid;
    padding-top: 50px;
    padding-left: 10px;

  
}

#title-1, #title-2, #title-3{
    font-weight: bold;

}

#sub-1, #sub-2, #sub-3, #sub-4, #sub-5{
    font-weight: normal;
}

.form-floating{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    min-width: auto;
}

.form-floating-2{
    display: none;
    width: 300px;
    max-width: 350px;
    min-width: auto;
    float: right;
}

#duplication-title{
    margin-top: 20px;
}

#duplication-title, .checker-titles{
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.duplicated-article, .journal-type-container{
    border: 1px #999999 solid;
    width: auto;
    height: auto;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.suggestion-title{
    margin-top: 20px;
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    
   
}

#label-title, #label-result{
    text-align: center;
    color:#115272;
    font-family: 'Times New Roman', Times, serif;
  
}

#result-duplication{
    text-align: left;
    color:#115272;
    font-family: 'Times New Roman', Times, serif;
}

#similar-title{
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 11px;
    font-weight: bold;
    color:#0858a4;
    margin-bottom: 20px;
}
#similar-abstract{
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 11px;
    font-weight: bold;
    color:#115272;

}

#similar-abstract{
    margin-bottom: 20px;
}

.journal-type-container{
    margin-top: 10px;
}

#journal-type{
    width: 95%;
    display: none;
}


#check-duplication, #btn-okay{
    width: 100%;
    background-color: #0858a4;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
}


#title-1, #title-2, #title-3,#sub-1, #sub-2, #sub-3, #sub-4, #sub-5{
    /* margin-left: 40px; */
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
}

#line-1, #line-2{
    border: 1px #0858a4 solid;
    width: 500px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* .descript-1, .descript-2{
    padding-left: 80px;
    
} */

.descript-1 p, .descript-2 p{
    font-size: 11px;
    /* width: 750px; */
    display: inline-block;
    margin-left: 10px;
    
}




.details{
    display: inline-block;
}

#title-4{
    color: #0858a4;
    font-weight: bold;
    display: block;
}

#sub-6{
    color: #0858a4;
    font-weight: bold;
    display: block;
}
 #sub-7, #sub-8{
    margin-left: 40px;
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    margin-top: 20px;
}

#vl{
    display: inline-block;
    height: 200px;
    border-left:  2px solid #0858a4;
    width: auto;
    margin-left: 20px;
    margin-right: 40px;
    
}

.input-details{
    display: inline-block;
    width: 100%;
   
    margin-top: 40px;
}

#sub-9, #sub-10{
    
    font-weight: bold;
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    margin-bottom: 20px;
}

#title, #keywords{
    font-size: 11px;

}

#keywords{
    margin-bottom: 20px;
}


.input-details-2{
    max-width: 100%;
    min-width: auto;
    height: auto;
}

#sub-11, #sub-12{
   
    font-weight: bold;
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
}



#editor, #editor2, #editor3{
   height: 200px;

}

.table-input, .contributors-container, .comment-container{
    max-width: 100%;
    min-width: auto;
    padding-left: 40px;
}



#title-6, #title-7, #title-9{
    font-weight: bold;
}

#title-9{
    margin-top: 40px;
}




#title-9, #title-10, #title-14, #title-15, #sub-16, #sub-17{
    text-align: left;
    margin-left: 40px;
    
}

#title-14, #title-15{
    font-weight: bold;
    color: #0858a4;
}

#swal-d, #swal-d-2, #swal-d-3{
    height: 2px;
    background-color: #0858a4;
}

#article-unique{
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
}



#title-6, #title-7, #title-8, #title-9, #title-15,#sub-13, #sub-14 , #sub-15,  #sub-16,  #sub-17,  #sub-18,  #sub-19,  #sub-20, #sub-21, #sub-22, #sub-23, #sub-24, #sub-25{
    
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  
}





#contributor-btn , #upload-btn{
    margin-top: 40px;
    float: right;
    background-color: #0858a4;
    color: white;
    margin-bottom: 20px;
}

#contributor-btn{
    width: 120px;
    height: 35px;
    font-size: 11px;
}

#btn-update{
    margin-right: 10px;
}

#fName, #lName{
    margin-top: 20px;
    width: 50%;
    display: inline-block;
}

#sub-15{
    margin-bottom: 40px;
}



 #sub-16, #sub-17, #sub-20, #sub-21{
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
}

#input1, #input2, #updateInput1, #updateInput2{
    display: inline-block;
    width: 80%;
    height: 30px;
    font-size: 11px;
    margin-left: -20px;
   
}

#input3, #input4, #input6, #input7,  #input8, #updateInput3, #updateInput4, #updateInput5{
    display: inline-block;
    height: 30px;
    font-size: 11px;
    width: 90%;
    margin-left: -20px;
    
   
}

#input5{
    display: inline-block;
    height: 30px;
    font-size: 11px;
    width: 100%;
    margin-left: -20px;
}



#sub-18, #sub-19, #sub-20, #sub-23, #sub-24, #sub-25{
    text-align: left;
    margin-top: 20px;
}

.custom-confirm-button{
    margin-right: -200px;
    background-color: black;
}


#confirmBtn, #update-cont, #btn-article-update{
    background-color: #0858a4;
    height: 35px;
    width: 100px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    float: right;
    
}




.article-info-container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
   

}

.article-header{
    width: 100%;
    display: flex;
    background-color: #0858a4;
    height: 40px;
    padding-top: 8px;
    padding-left: 20px;
}

.file-container{
    width: 100%;
    height: auto;
}



.file-header-container{
    width: 100%;
    display: flex;
    background-color: #0858a4;
    height: 40px;
    padding-top: 8px;
    padding-left: 20px;
}

.cont-container{
    width: 100%;
    height: auto;
}

.cont-header-container{
    width: 100%;
    display: flex;
    background-color: #0858a4;
    height: 40px;
    padding-top: 8px;
    padding-left: 20px;
}




#editable-content{
    width: 100%;
    height: auto;
    padding-left: 20px;
        
}

#sub-26, #sub-27, #sub-28, #sub-29{
    color: #0858a4;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: -20px;
}

#sub-30, #sub-31, #sub-32, #sub-33, #sub-34{
    text-align: left;
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
}

#sub-34{
    display: inline-block;
    margin-left: -250px;
    width: auto;
}

#newFile{
    background-color: #0858a4;
    color: white;
    float: right;
    width: auto;
    margin-top: 10px;
    margin-right: 40px;
}

#input11, #input12 , #input13, #input14, #input15{
    width: 90%;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
}

#input15{
    margin-top: 10px;
    margin-bottom: 10px;
}



#input6, #input7,  #input8, #input9, #input9{
    width: 100%;
    margin-bottom: 20px;
    
}


#title-9, #title-11, #title-12{
    color:#0858a4;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


#title-10{
    color: #0858a4;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


 #title1f,#title-13{
   color: white;
   font-weight: bold;
}

#title-13{
    width: 400px;
}




#update-cont-2{
    height: 25px;
    margin-right: 20px;
    font-weight: normal;
    font-size: 12px;
    width: 100px;
    border-radius: 10px;
    float: right;
    margin-left: 610px;
    
  }

  #update-cont-3{
    height: 25px;
    font-weight: normal;
    font-size: 12px;
    width: 100px;
    border-radius: 10px;
    display: block;
    margin-left: 570px;
  }

  #update-cont-4{
    height: 25px;
    font-weight: normal;
    font-size: 12px;
    width: 100px;
    border-radius: 10px;
    display: block;
    margin-left: 265px;
    
  }



 




#prev, #next, #submit, #check-d{
    float: right;
    margin-left: 10px;
    width: 120px;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
   
}


#next{
    background-color: #0858a4;
}


