
.banner {
	background-color: white;
	padding: 2em 8%;
	display: flex;
	justify-content: space-between;
}

#banner-main {
    background-image: url("https://t3.ftcdn.net/jpg/03/05/84/16/360_F_305841668_SGCkYbDlZxkPPs8yO8wXywQMKeWpxG0F.jpg");
    background-size: cover;
    min-height: 60vh;
}
#banner-main .content,  #banner-main .body {
    width: 100% !important;
}

#banner-main h1, #banner-main .last, #banner-main span {
    text-align: center;

}

.banner h1{
    font-size: 3em;
    margin-bottom: 0.5em;
}
.banner .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner img {
    width: 100%;
    max-width: 500px;
    height:auto;
    /* max-height:680px; */
    object-fit: cover;
}
.banner .body {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:90%;
}

.banner .last {
    /* color: white; */
    color: #E56F1F;
    font-weight: 600;
    text-align: left;
    padding: 12px 0;
    cursor: pointer !important;
    /* border-radius: 20px; */
    /* padding: 0.5em 1em; */
    
}
  
.card-custom {
    padding:2em;
    border: 2px solid var(--gray);
    flex:1;
    min-width: 48%;
    color: black;
    border-radius: 4px;
}

.card-custom span {
    color: var(--link);
}
.card-custom .icon {
    width:60%;
}
.card-custom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-custom:hover span {
    /* border: var(--link); */
    /* background-color: var(--gray); */
    font-weight: bold;
}

.card-custom:hover {
    background-color: #e3eef9;
}
.card-custom small {
    color: rgb(55, 55, 55) !important;
}
  
main {
    padding: 0.5em 8%;
}
.frequently-asked-questions-container, .main {
    flex: 4;
    /* padding: 4em; */

}
aside a {
    color: gray !important;
}

.s-2 span, .s-1 span {
    /* color: var(--form-heading); */
    font-weight: 600;
}
li::marker {
    color: var(--secondary);
    font-size:22px;
}
aside {
    flex: 1;
    padding:2em;
    background-color: rgb(252, 251, 254);
    max-height: 800px;
}
.main p, main li {
    text-align: justify;
}
.menu li {
    cursor: pointer;
}

.menu li:hover {
    text-decoration: underline;
}


#frequently-asked-questions-container {
    display: flex;
    flex-direction: column;
}

#frequently-asked-questions-container .header{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    padding: 0;
}

#frequently-asked-questions-container .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2em;
}

#frequently-asked-questions-container h3,
#frequently-asked-questions-container h4 {
    color: #285581;
    /* font-family: Inter !important; */
}


#frequently-asked-questions-container h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1em;

}

#frequently-asked-questions-container h4 {
    font-size: 16px;
    font-weight: 600;

}

.menu h3 {
    color: #285581;
    font-family: Judson;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1em;

}

#for-contributors-menu ul li {
    color: #285581;
    font-family: Judson;
    font-weight: 400; 
    list-style: none;
    margin-bottom: 10px;
    font-family: Raleway, sans-serif;
}
#for-contributors-menu ul {
    padding: 0 ;
}

/* SEARCH CSS START*/
#search-input{
    width: 100%;
    display: flex;
}

#search-input input:focus,
#search-input input:hover,
#search-input input:active,
#search-input input {
    outline: none !important;
    border: 0 !important;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    background: #FFF;
    box-shadow: none !important; 
}

#search-input button {
    border-radius: 2px;
    border: 1px solid #E56F1F;
    background: #E56F1F;
    padding: 0.5em 1em;
    color: #FFF;
    text-align: center;
    /* font-family: Inter; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ACCORDION CSS START */
.faq .accordion-item {
    gap:0 !important;
}
.faq .accordion-body {
    /* font-family: Inter; */
    font-size: 16px; 
    font-weight: 400 !important;
}

.faq .accordion-button {
    color: #0880E8 !important;
    background-color: #F7FCFF !important;
    display: flex;
    font-weight: 700;
    border-bottom: none;
    
  }
  
.faq .accordion-button:not(.collapsed) {
    box-shadow: none;
}
.faq .collapsed {
    color: #285581 !important;
    background-color: white !important;
}
.faq .show {
    background-color: #F7FCFF !important;
}
.faq .accordion-body {
    padding-left: 3em;
}

#author-guidelines-container .header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-height: 50px;
}

#article-submission-container .header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-height: 50px;
}

#peer-review-process-container .header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-height: 50px;
}

#become-a-reviewer-container .header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-height: 50px;
}

#tutorial-on-publication-container .header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-height: 50px;
}

#tutorial-on-review-container .header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-height: 50px;
}

#templates-for-author-container .header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-height: 50px;
}

#publication-policy-container .header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-height: 50px;
}

#frequently-asked-questions-container .header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-height: 50px;
}

#author-guidelines-container h2,
#article-submission-container h2,
#peer-review-process-container h2,
#become-a-reviewer-container h2,
#tutorial-on-publication-container h2,
#tutorial-on-review-container h2,
#templates-for-author-container h2,
#publication-policy-container h2,
#frequently-asked-questions-container h2,
#tutorial-on-registration-container h2 { 
    color: #285581;
    font-size: 24px;
    font-weight: 600; 
}

#author-guidelines-container h3,
#author-guidelines-container h4,
#article-submission-container h3,
#peer-review-process-container h3,
#tutorial-on-publication-container h3,
#tutorial-on-review-container h3, 
#templates-for-author-container h3,
#publication-policy-container h3,
#tutorial-on-registration-container h3{
    color: #285581;
    /* font-family: Inter !important; */
}

#author-guidelines-container h3,
#article-submission-container h3,
#peer-review-process-container h3,
#tutorial-on-publication-container h3,
#tutorial-on-review-container h3,
#templates-for-author-container h3,
#publication-policy-container h3,
#tutorial-on-registration-container h3 {
    /* text-transform: uppercase; */
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1em;
}

#author-guidelines-container,
#article-submission-container,
#peer-review-process-container,
#become-a-reviewer-container,
#tutorial-on-publication-container,
#tutorial-on-review-container,
#templates-for-author-container,
#publication-policy-container,
#tutorial-on-registration-container {
    /* font-family: Inter; */
    font-size: 16px; 
    font-weight: 400 !important;
    margin-bottom: 1em;
}
.overview li {
    /* color: var(--main); */
    /* padding:2em; */
}

.tutorial-image {
    width: 100%;
    height: auto;
    margin-bottom: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.s-1,
.s-2 {
    margin-bottom: 30px;
    padding: 2em;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.s-1 h3,
.s-2 h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #285581;
    margin-bottom: 1em;
}

.s-1 p,
.s-2 p {
    font-size: 16px;
    color: #454545;
    line-height: 1.6;
}

.s-1 ul li,
.s-2 ul li {
    margin-bottom: 0.5em;
    color: #454545;
    font-size: 16px;
}

.s-1 img,
.s-2 img {
    display: block;
    margin-top: 1em;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.s-2 img {
    margin-bottom: 1em;
}


#author-guidelines-container h4,
#templates-for-author-container h4 {
    font-size: 16px;
    font-weight: 600;
    color: #285581;
    /* font-family: Inter !important; */
}

#templates-for-author-container h4 {
    margin-bottom: 0.5rem;
}
th {
    background-color: var(--gray);
    color: var(--form-heading);
}
table {
    max-width: 100%;
    width: auto;
    border-collapse: collapse;
    margin-bottom: 2em;
}

table th, table td {
    border: 1px solid var(--gray);
    padding: 1.5em;
    /* padding-right: 20px; */
}

.img-reg {
    height: auto;
    width: 100%;

}

.img-sub {
    height: auto;
    width: 90%;
    margin-top: 1em;

}

#templates-for-author-container .s-1 p {
    margin-bottom: 1.5rem;
}

#btn1, #btn2 {
    margin-bottom: 1.5rem;
    font-size: 12px;
    background-color: transparent;
    border-radius: 20px;
    color: var(--main, #0858A4);
    border: 2pxvar(--main, #0858A4) solid;
}

#btn1{
    margin-right: 5px;
    
  }
  
#btn2{
    width: 4rem;
  }
  

/* PUBLICATION PROCEDURE CSS START*/
#procedure-container header {
    color: #285581;
  }
  
  #procedure-container h2 {
    margin-bottom: 0.5em;
    font-size: 1.5rem;
}
  #procedure-container header span {
    color: #454545;
  }
  
  #procedure-container .procedures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
  }
  
  .procedures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.procedure {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1em;
    border-radius: 8px;
    border: 2px solid #ddd;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    max-width: 400px;
    height: auto;
    cursor: default;
}
.procedure:hover {
    border-color: #007bff;
}
.procedure-body {
    padding: 1.5em;
}
.title {
    margin-bottom: 0.5em;
    font-size: 1.25rem;
    color: #285581;
    font-weight: bold;
}

.description {
    text-align: center;
    height: 170px;
}

.text-muted {
    color: #666;
}

.action-button {
    margin: 1em;
    padding: 0.5em 1em;
    /* background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px; */
    transition: background-color 0.3s ease;
}

/* .action-button:hover {
    background-color: #0056b3;
} */

.procedure img {
    width: 100%; /* Set width to 100% */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
}
  .procedure{
    /* width: 400px; */
    /* height: 400px; */
  
  }

  .procedure .icon {
    position: absolute;
    top: -1.5em;
    background-color: #f8e4d6;
    border-radius: 100%;
    padding: 1em;
    font-weight: 700;
  }
  .procedure h4 {
    font-size: 20px;
  }
  #procedure-container a {
    text-decoration: none;
    font-weight: 600;
  }
  .procedure p {
    font-size: small;
  }
  .row p {
    text-align: justify;
  }
  
  /* PUBLICATION PROCEDURE CSS END*/
  
  @media only screen and (max-width: 480px) {
    .card-custom {
        min-width: 100% !important;
    }
    .card-custom .icon {
        width:100%;
    }
    .banner {
        flex-direction: column;
    }
    .banner .body {
        padding: 3em 2em;
    }
    .banner img {
        width: 100%;
        height: auto;
    }
    .s-1, .s-2 {
        padding: 1em;
    }
  }