
h1, h2, h3, h4, h5, h6 {
    font-family: 'Judson', serif !important;
}
h4 {
    font-size:14px;
    font-weight: 600;
}

body{
    margin: 0;
    padding: 0;
}

.foot{
    background-color: #0858A4;
    bottom:0;
    width: 100%;
    min-height: 80px;
    align-items: center;
    padding-left:4em;
}


.img-logo{
    width: 60px;
    height: 60px;
    /* margin-left: 20px;
    margin-right: 10px;
    margin-top: -30px; */
  }


.foot a{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman';
    color: white;
    display: block;
  }


.foot a:hover{
    color: white;
    cursor: auto;
}

.foot a:focus{
    color: white;
}

.foot span{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 15px;
    color: white;
}

.copyright{
    color: white;
    font-size: 15px;

}

.copyright a{
    color: white;
    text-decoration:underline;
    font-size: 15px;
    margin-right: 10px;
    text-align: right;
}
.copyright a:hover{
    cursor: pointer;
    color: white;
}

.links a {
    margin: 5px;
    text-decoration: none;
    font-size: 15px;
    margin: 0 20px 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.links li :hover{
    cursor: pointer;
}

.dropdown-menu a{
    font-size: 17px;
    margin: 0;
}

.links-box{
    display: flex;
    flex-direction: row;
}




