h1 {
    font-size:3em !important;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 2em !important;
}

.content-over {
    position: relative;
    width: 100%;
    height: 10em;
    max-height:24em;
    background-image: url(../images/qcu-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 4em 8%;
    display: inline-flex;
    flex-direction: column;
}

.content-over::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 68, 74, 0.7);
}

.content-over p, .content-over h1 {
    color: white; 
    position: relative;
    z-index: 1; 
    display: block;
}

.second-container{
    background-color: #004e98;
}

.head-text p{
    color: #FFFFFF;
    font-size: small;
}

.ourStory p{
    overflow: scroll;
}

.story p {
    text-align: justify;
    color: #115272;
    overflow: auto;
    padding: 15px;
}

.story h3 {
    color: #115272;
}

.img-story{
    height: 40vh;
}

.img-story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-story img{
    border-radius: 15px;
}

.executives-content, .uniteam-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f9;
    padding:1em;
    border-radius: 4px;
}

.executives-content img {
    height: 50vh;
    width: auto; 
}

.executives-content p, .uniteam-content{
    font-size: larger; 
    font-weight: bold; 
    color:#115272;
    flex-wrap: wrap;
    width: 100%;
    max-width: 16em;
    text-align: center;
}

.uniteam-content img{
    height: 50vh;
}

.story-headline {
   font-weight: bold;
   font-size: 1.3em;
}