@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --main: #0858a4;
    --secondary: #E56F1F;
    --gray: #f5f5f9;
    --form-heading: #285581;
    /* --main-headings: #004e98; */
}
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    transition: 0.5s all ease;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Judson', serif !important;
}
h4 {
    font-size:14px;
    font-weight: 600;
}

.header{
    color: #004e98;
    display: flex;
    text-align: left;
    min-height: 80px;
    align-items: center;
    padding-left:4em;
}

  
.img-logo{
    width: 60px;
    height: 60px;
    /* margin-left: 20px;
    margin-right: 10px;
    margin-top: -30px; */
  }


/* .logotitle{
    height: 100%;
    width: auto;
    /* display: inline-block; */
    /* padding-top: 5px; **/


.header a{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman';
    color: var(--main);
    padding-top: -5px;
    
  }


.header a:hover{
    color: var(--main);
    cursor: auto;
}

.header a:focus{
    color: var(--main);
}

.header span{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 15px;
    color: var(--main);
}

