
.main-content{
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.content-over {
  position: relative;
  width: 100%;
  /* height: 10em; */
  max-height:20em;
  background-image: url(../images/qcu-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* padding-top: 70px; */
  padding: 4em 8%;
  display: inline-flex;
  flex-direction: column;
}

.content-over::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 68, 74, 0.7);
}

.content-over p, .content-over h4 {
  color: white; 
  position: relative;
  z-index: 1; 
  display: block;
}

.content-over h4{
  font-weight: 500 !important;
}

.content-over button{
  color: white; 
  position: relative;
  z-index: 1;
  background-color: #E56F1F;
  border-radius: 20px;
  margin-top: 20px;
  padding: 0.5em 1em;
}

.content-over button:hover{
  color: white; 
  position: relative;
  z-index: 1;
  background-color: #E56F1F;
  border-radius: 20px;
  margin-top: 20px;
  opacity: 0.8;
}

#btn2{
  border: 2px white solid;
  background-color: transparent;
}


.offer-left, .offer-right{
  display: inline-block;
  width: 40%;
}



.offer-left{
  margin-top: 80px;
  margin-left: 80px;

}

.offer-left h4{
  font-family: Arial, Helvetica, sans-serif;
  color: #0858a4;
}


.offer-left p{
  width: 60%;
}

.offer-left button{
  background-color: #0858a4;
  border-radius: 20px;
  width: 50%;
  border: none;
  
}

.offer-left button:hover{
  background-color: #0858a4;
  border-radius: 20px;
  opacity: 0.8;
  
}

.divider-line{
  border-left: 2px solid #0858a4;
  height: 410px;
  display: inline-block;
  position: absolute;
  margin-top: 30px;
}

.offer-right{
  float: right;
  margin-right: 40px;
  
}

.offer-right h6{
  font-family: Arial, Helvetica, sans-serif;
  color: #0858a4;
  margin-top: 50px;
}

.offer-right p{
  font-size: 12px;
}

.offer-right button{
  border: 2px #0858a4 solid;
  background-color: transparent;
  border-radius: 20px;
  color: #0858a4;
  width: 50%;
}

.offer-right button:hover{
  border: 2px #0858a4 solid;
  background-color: transparent;
  border-radius: 20px;
  color: #0858a4;
  opacity: 0.8;
  
}


.recommendation-article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 360px;
  padding-top:2em;
  padding-bottom:2em;
  padding:4%;
}

.recommendation-article h4{
  
color: #0858a4;
font-family: Arial, Helvetica, sans-serif;
width:90%;
}

.articles-container {
width: 85%;
height: auto;
border: none;
margin-left: auto;
margin-right: auto;
overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
display:flex;
gap:24px;
border-radius: 8px;
padding:2em 0;
}

.articles-container-monthly{
width: 85%;
height: auto;
border: none;
margin-left: auto;
margin-right: auto;
overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
}

.articles-container::-webkit-scrollbar {
width: 0.5em;
background-color: transparent;
}

.articles-container::-webkit-scrollbar-thumb {
background-color: transparent;
}

.articles-container-monthly::-webkit-scrollbar {
width: 0.5em;
background-color: transparent;
}

.articles-container-monthly::-webkit-scrollbar-thumb {
background-color: transparent;
}

.article {
padding: 2em;
width: 25%;
min-width: 320px;
height: 100%;
background-color: white;
display: inline-block;
white-space: normal; 
border-radius: 4px;
border: 1px solid #F2F2F2;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.025);


}
.article:hover{
  background-color: rgba(239, 242, 248, 0.617);
}

.article .h6{
font-family: Arial, Helvetica, sans-serif;
color: #0858a4;
width: auto;

}

.article-info{
opacity: 0.6;
font-size: 12px;
width: 100%;
}

.article .info, .article .views{
opacity: 0.7;
display: inline-block;
}

.views{
margin-left: 110px;
}

.author{
color: #0858a4;
font-size: 12px;
display: block;
}

.article-content{
color: black;
font-size: 12px;
height: 100px;
overflow-y: auto;
overflow-x: hidden;
}


.article-content::-webkit-scrollbar {
width: 0.5em;
background-color: transparent;
}

.article-content::-webkit-scrollbar-thumb {
background-color: transparent;
}



.btn-article:hover{
border: 2px #0858a4 solid;
background-color: transparent;
border-radius: 20px;
color: #0858a4;
opacity: 0.8;

}
.badge {
  background-color: #0858A4 !important;
}
.qoaj {
background-color: #0858A4;
}

.About-container, .recommendation-container {
display: flex; /* Change to flex container */
flex-wrap: wrap;
justify-content: space-around; /* Center horizontally */
align-items: center; /* Center vertically */
min-height: 70vh;
max-height:auto;
padding: 2em 8%;
}

.ab-qoaj-left {
flex: 1; /* Take up available space */
min-width:400px;
}

.ab-qoaj-right {
flex: 1; /* Take up available space */
display:flex;
flex-wrap: wrap;
justify-items: center;
width:700px;
}

.ab-qoaj-left h4 {
font-family: Arial, Helvetica, sans-serif;
color: white;
margin-top: 20px;
}

.ab-qoaj-left p {
width: 88%;
color: white;
text-align: justify;
}

.ab-qoaj-left button {
background-color: #E56F1F;
color: white;
border-radius: 20px;
width: 20%;
}

.ab-qoaj-left button:hover {
background-color: #E56F1F;
border-color: white;
border-radius: 20px;
opacity: 0.8;
color: white;
}

.ab-qoaj-right p {
color: white;
margin-bottom: 10px;
font-size: 12px;
}

.ab-qoaj-right h4 {
color: white;
}

.text1 {
display: inline-block;
margin: 0em 2em;
/* margin-left: 30px; */
}

.divider-line-2 {
border-left: 2px solid white;
height: 60px;
display: inline-block;
}
.image{
width: 100%;
height: 400px;
object-fit: cover;
}

.plans{
  font-family: Arial, Helvetica, sans-serif;
  color: #0858a4;
  text-align: center;
  margin-top: 70px;
  margin-bottom: -70px;
}

.plans-inside{
  width: 100%;
  /* margin-left: 40px;
  margin-right: 40px; */
}

.plans-inside h5{
  /* font-family: Arial, Helvetica, sans-serif; */
  color: #0858a4;
}

.plans-inside p{
  text-align: justify;
  width: 80%;
}

.btn-price{
  margin-top: 100px;
}
#btn-price{
  margin-top: 130px;
}

.example-journal {
border-radius: 4px;
border: 1px solid #F2F2F2;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.025);
width: 100%;
max-width: 24em;
/* height: 100%; */
display: inline-block; 
text-align: center; 
/* margin: 0 140px 0 140px;  */
/* box-shadow:gray 5px 10px 10px; */
 /* Add shadow to the border */
}




.example-journal h3{
font-family: Arial, Helvetica, sans-serif;
color:#0858a4;
text-align: center;
margin-top: 40px;
font-size: 24px;

}
.example-journal h5{
  font-size: 16px;
}

.example-journal p{
text-align: center;
/* margin: 20px 20px 20px 20px; */
text-align: justify;
font-size: 16px;
}

.example-journal button {
background-color: #0858a4;
border-radius: 20px;
width: 60%;
border-color: white;
background-color: #0858a4;
margin-bottom: 30px;
}

.example-journal button:hover{
background-color: #0858a4;
border-radius: 20px;
opacity: 0.8;
}
.ex-journal {
display: flex;
flex-wrap: wrap;
gap:2em;
justify-content: center;
/* justify-content: between; /* Center horizontally within the container */
/* align-items: center; Center vertically within the container  */
margin-top: 100px;
margin-bottom: 80px;
padding: 2em 8%;
/* height: 700px; */
}

#most-popular-container{
  /* box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.025); */
  display:flex;
  flex-direction: column;
  padding:2em;
  
}
#most-popular-container .item {
  display:flex;
}
.divider {
  border-left: 2px solid #cccdda7e;
  height: auto;
  width:20px;
  
}
#most-popular-container h6{
  font-weight: 700;
}
#most-popular-container span {
  color: #0858a4;
  font-family: Arial, Helvetica, sans-serif;

}
#most-popular-container ul li {
  text-align: center;
  font-size: 12px;
  color:rgb(149, 149, 149);
}

#most-popular-container #most-popular div:hover {
  background-color: rgba(239, 242, 248, 0.617);
  cursor: pointer;
}
#most-popular-container .total {
  font-size: 18px;
  font-weight: 700;
  color: #303334;
}

h4, h2 {
  font-weight: 500 !important ;
}