@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

* {
  scroll-behavior: smooth  !important;
}

.main-content{
  width: 100%;
  height: auto;
}
.content-over {
  position: relative;
  width: 100%;
  height: 30em;
  background-image: url(../images/qcu-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 4em 8%;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

.content-over::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 51, 55, 0.85);
}

.content-over p, .content-over h2, .content-over span {
  color: white; 
  position: relative;
  z-index: 1; 
  display: block;
}

.content-over h4{
  font-weight: 500 !important;
}

.content-over button{
  color: white; 
  position: relative;
  z-index: 1;
  background-color: var(--secondary, var(--secondary, #E56F1F));
  border-radius: 20px;
  margin-top: 20px;
  padding: 0.5em 1em;
}

.content-over button:hover{
  color: white; 
  position: relative;
  z-index: 1;
  background-color: var(--secondary, var(--secondary, #E56F1F));
  border-radius: 20px;
  margin-top: 20px;
  opacity: 0.8;
}

#btn2{
  border: 2px white solid;
  background-color: transparent;
}


.offer-left, .offer-right{
  display: inline-block;
  width: 40%;
}



.offer-left{
  margin-top: 80px;
  margin-left: 80px;

}

.offer-left h4{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main, #0858A4);
}


.offer-left p{
  width: 60%;
}

.offer-left button{
  background-color: var(--main, #0858A4);
  border-radius: 20px;
  width: 50%;
  border: none;
  
}

.offer-left button:hover{
  background-color: var(--main, #0858A4);
  border-radius: 20px;
  opacity: 0.8;
  
}

.divider-line{
  border-left: 2px solid var(--main, #0858A4);
  height: 410px;
  display: inline-block;
  position: absolute;
  margin-top: 30px;
}

.offer-right{
  float: right;
  margin-right: 40px;
  
}

.offer-right h6{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main, #0858A4);
  margin-top: 50px;
}

.offer-right p{
  font-size: 12px;
}

.offer-right button{
  border: 2px var(--main, #0858A4) solid;
  background-color: transparent;
  border-radius: 20px;
  color: var(--main, #0858A4);
  width: 50%;
}

.offer-right button:hover{
  border: 2px var(--main, #0858A4) solid;
  background-color: transparent;
  border-radius: 20px;
  color: var(--main, #0858A4);
  opacity: 0.8;
  
}


.title:hover {
  white-space: normal;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; 
}
.recommendation-article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 360px;
  padding-top:2em;
  padding-bottom:2em;
  padding:4%;
}

.recommendation-article h4{
  
color: var(--main, #0858A4);
font-family: Arial, Helvetica, sans-serif;
width:100%;
}

.articles-container {
width: 100%;
height: auto;
border: none;
margin-left: auto;
margin-right: auto;
overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
display:flex;
gap:24px;
border-radius: 8px;
padding:2em 0;
}
@media only screen and (max-width: 768px) {
  h2{
  font-size:1.5em !important;
  }
  .recommendation-article{
    padding:2%;
  }
  .content-over{
    padding:4%;
  }
  .articles-container{
    width: 90%;
    gap:30px;
  }
}
.articles-container-monthly{
width: 85%;
height: auto;
border: none;
margin-left: auto;
margin-right: auto;
overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
}

.articles-container::-webkit-scrollbar {
width: 0.5em;
background-color: transparent;
}

.articles-container::-webkit-scrollbar-thumb {
  background-color: #b8b7b7;
  border-radius: 8px; 
}

.articles-container-monthly::-webkit-scrollbar {
width: 0.5em;
background-color: transparent;
}

.articles-container-monthly::-webkit-scrollbar-thumb {
  background-color: #b8b7b7;
  border-radius: 8px; 
}

.article {
cursor: default;
padding: 2em;
width: 25%;
min-width: 320px;
height: 100%;
background-color: white;
display: inline-block;
white-space: normal; 
border-radius: 4px;
border: 1px solid #F2F2F2;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.025);


}
.article:hover{
  background-color: rgba(239, 242, 248, 0.617);
}
.article:hover #title{
  color: rgba(18, 97, 255, 0.899);
}


.article .h6{
font-size: 18px;
line-height: 24px;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 3; 
-webkit-box-orient: vertical;
text-overflow: ellipsis;
font-family: Arial, Helvetica, sans-serif;
color: var(--main, #0858A4);
width: auto;
min-height: 70px;
}

.article-info{
display:flex;
justify-content: space-between;
opacity: 0.6;
font-size: 12px;
width: 100%;
}

.article .info, .article .views{
opacity: 0.7;
display: inline-block;
}

.views{
margin-left: 110px;
}

.author{
color: var(--main, #0858A4);
font-size: 12px;
display: block;
}

.article-content{
color: black;
font-size: 13.5px;
height: 125px;
overflow-y: hidden;
overflow-x: hidden;
}


.article-content::-webkit-scrollbar {
width: 0.5em;
background-color: transparent;
}

.article-content::-webkit-scrollbar-thumb {
background-color: transparent;
}

#recently-added {
  max-height: 440px;
}

.btn-article:hover{
border: 2px var(--main, #0858A4) solid;
background-color: transparent;
border-radius: 20px;
color: var(--main, #0858A4);
opacity: 0.8;

}
.badge {
  background-color: #DFEFFF !important;
}
.qoaj {
background-color: var(--main, #0858A4);
}

.About-container, .recommendation-container {
display: flex; 
flex-wrap: wrap;
justify-content: space-around; 
align-items: center; 
min-height: 70vh;
max-height:auto;
padding: 2em 8%;
}

.vision-container {
    display: flex;
    align-items: center;
    min-height: 70vh;
    max-height: auto;
    padding: 2em 8%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.total-summary {
  padding:1em  2em;
  text-align: center;
  
}
.total-summary span {
  font-size: 2.5em;

  color: var(--main, #0858A4);
}
.ab-qoaj-left {
flex: 1; 
min-width: 25em;

}

.ab-qoaj-left h2 {
color: white;
margin-top: 20px;
}

.ab-qoaj-left p {
width: 100%;
color: white;
text-align: justify;
}

.ab-qoaj-left button {
background-color: var(--secondary, var(--secondary, #E56F1F));
color: white;
border-radius: 20px;
width: 20%;
}

.ab-qoaj-left button:hover {
background-color: var(--secondary, #E56F1F);
border-color: white;
border-radius: 20px;
opacity: 0.8;
color: white;
}

.ab-qoaj-right {
  flex: 1;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 2em;
  
  }
  
.ab-qoaj-right p {
color: white;
margin-bottom: 10px;
font-size: 12px;
}

.ab-qoaj-right h4 {
color: white;
}

.text1 {
display: inline-block;
margin: 0em 2em;
}

.divider-line-2 {
border-left: 2px solid #f5f5f9;
height: 7em;
display: inline-block;
}


@media (max-width: 767px) {
  .About-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em 5%;
  }

  .ab-qoaj-left,
  .ab-qoaj-right {
    flex: none;
    width: 100%;
    min-width: auto;
  }

  .ab-qoaj-left {
    margin-bottom: 1em;
  }

  .ab-qoaj-left h4 {
    font-size: 1.5em;
  }
}.image-container {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #f5f5f9;
  background-image: url("https://png.pngtree.com/png-vector/20221118/ourmid/pngtree-stay-tuned-banner-in-yellow-and-blue-png-image_241077.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-container:hover .image{
  filter: brightness(32%);
}
.button {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.7); 
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
.hover-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; 
  width: 100%;
  height: 100%;
  background-color: #303334cb;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.image-container:hover .hover-details {
  display: flex; 
}

.plans{
  color: var(--main, #0858A4);
  text-align: center;
  margin-top: 70px;
  margin-bottom: -70px;
}

.plans-inside{
  width: 100%;
}

.plans-inside h5{
  color: var(--main, #0858A4);
}

.plans-inside p{
  text-align: justify;
  width: 80%;
}

.btn-price{
  margin-top: 100px;
}
#btn-price{
  margin-top: 130px;
}

.example-journal {
border-radius: 4px;
border: 1px solid #F2F2F2;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.025);
width: 100%;
max-width: 24em;
display: inline-block; 
text-align: center; 
}




.example-journal h3{
font-family: Arial, Helvetica, sans-serif;
color:var(--main, #0858A4);
text-align: center;
margin-top: 40px;
font-size: 24px;

}
.example-journal h5{
  font-size: 16px;
}

.example-journal p{
text-align: center;
text-align: justify;
font-size: 16px;
}

.example-journal button {
background-color: var(--main, #0858A4);
border-radius: 20px;
width: 60%;
border-color: white;
background-color: var(--main, #0858A4);
margin-bottom: 30px;
}

.example-journal button:hover{
background-color: var(--main, #0858A4);
border-radius: 20px;
opacity: 0.8;
}
.ex-journal {
display: flex;
flex-wrap: wrap;
gap:2em;
justify-content: center;
margin-top: 100px;
margin-bottom: 80px;
padding: 2em 8%;
}

#most-popular-container{
  display:flex;
  padding:8px;
  
}
#most-popular-container .item {
  display:flex;
}
.divider {
  border-left: 2px solid #cccdda7e;
  height: auto;
  width:20px;
  
}
#most-popular-container h6{
  font-weight: 700;
}
#most-popular-container span {
  color: var(--main, #0858A4);
  font-family: Arial, Helvetica, sans-serif;

}
#most-popular-container ul li {
  text-align: center;
  font-size: 12px;
  color:rgb(149, 149, 149);
}

#most-popular-container #most-popular div:hover {
  background-color: rgba(239, 242, 248, 0.617);
  cursor: pointer;
}

#most-popular-container #most-popular div:hover .title {
  color: rgba(18, 97, 255, 0.899);

}

#most-popular-container .total {
  font-size: 18px;
  font-weight: 700;
  color: #303334;
}


h4, h2 {
  font-weight: 500 !important ;
}

#home section {
  padding: 4em 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

/* PUBLICATION PROCEDURE CSS START*/

#procedure-container {
  background: #F7FCFF;
}

#procedure-container header {
  display: flex;
  flex-direction: column;
}

#procedure-container h5 {
  text-align: center;
  color: #285581;
}
#procedure-container header span {
  color: #454545;
}

#procedure-container .procedures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}

.procedures .procedure {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px; 
  padding: 2em;
  border-radius: 4px;
  border: 1px solid #DFDFDF;
  background: rgba(255, 255, 255, 0.86); 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);

}

.procedure .title {
  margin-bottom: 10px; 
}


.procedure{
  /* width: 400px; */
  height: 300px;

}
.procedure .icon {
  position: absolute;
  top: -1.5em;
  background-color: #f8e4d6;
  border-radius: 100%;
  padding: 1em;
  font-weight: 700;
}
.procedure h4 {
  font-size: 20px;
}
#procedure-container a {
  text-decoration: none;
  font-weight: 600;
}
.procedure p {
  font-size: small;
}
.row p {
  text-align: justify;
}

/* PUBLICATION PROCEDURE CSS END*/
/* QUICK LINKS CSS START*/

.procedure .description {
  text-align: justify;
}

#features-container h5{
  color: #285581;
}

#quick-links-container h5{
  text-align: center;
  color: #285581;
}
#quick-links-container .quick-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap:1.5em;
}

.quick-links .quick-link {
  min-width: 20em;
  width: 25%;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 16px; 
  padding: 2em;
  border-radius: 4px;
  border: 1px solid #DFDFDF;
  background: rgba(255, 255, 255, 0.86); box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
  text-decoration: none;
  white-space: nowrap;
}

.procedure:hover,
.quick-links .quick-link:hover {
  background-color: rgba(239, 242, 248, 0.617);
  transform: translateY(4px);
}

.quick-link .icon {
  background-color: var(--secondary, #E56F1F);
  color: white;
  padding: 1em;
  border-radius: 100%;
  min-width: 4em;
  height: 4em;
  display: grid;
  place-items: center;
}
/* QUICK LINKS CSS END*/
/* FAQS FREQUENTLY ASKED QUESTIONS CSS START*/

#faqs-container h2 {
  text-align: center;
  /* color: #285581; */
}
#faqs-container header {
  max-width: 48em;
}
#faqs-container a {
  text-decoration: none;
  font-weight: 600;
}
.faq {
  border-radius: 12px !important;
  border: 1px solid #DFDFDF;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}


.faq .accordion-button {
  color: #0880E8 !important;
  background-color: white !important;
  display: flex;
  gap: 0.5em;
  font-weight: 700;
  border-bottom: none;
}

.faq .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.faq .collapsed {
  color: #285581 !important;
}

.faq .accordion-body {
  padding-left: 3em;
}
/* FAQS FREQUENTLY ASKED QUESTIONS CSS START*/