* {
  box-sizing: border-box;
  transition: 0.5s all ease;
}

h1,h4 {
  font-size: 14px;
  font-weight: 600;
}

a {
  text-decoration: none !important;
}

.content-over {
  position: relative;
  width: 100%;
  /* height: 10em; */
  max-height: 20em;
  background-image: url(../images/qcu-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* padding-top: 70px; */
  padding: 2em 8%;
  display: inline-flex;
  flex-direction: column;
}

.content-over::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 68, 74, 0.7);
}

.content-over p,
.content-over h4,
.content-over h1{
  color: white;
  position: relative;
  z-index: 1;
  display: block;
}

.content-over h4,
.content-over h1 {
  font-weight: 500 !important;
  font-size: 24px;
}

.content-over span {
  font-size: 16px;
  font-weight: 400;
}

.content-over button {
  color: white;
  position: relative;
  z-index: 1;
  background-color: #E56F1F;
  border-radius: 20px;
  /* margin-top: 20px; */
  padding: 0.5em 1em;
}

.content-over button:hover {
  color: white;
  position: relative;
  z-index: 1;
  background-color: #E56F1F;
  border-radius: 20px;
  /* margin-top: 20px; */
  opacity: 0.8;
}

.recommendation-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 360px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.recommendation-article h4 {
  color: var(--main, #0858A4);
  font-family: Arial, Helvetica, sans-serif;
  width: 85%;
}

.articles-container {
  width: 85%;
  height: auto;
  border: none;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  gap: 24px;
  border-radius: 8px;
  padding: 2em 0;
}


.articles-container::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.articles-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}


.article {
  padding: 2em;
  width: 25%;
  min-width: 320px;
  height: 100%;
  background-color: white;
  display: inline-block;
  white-space: normal;
  border-radius: 4px;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.025);


}

.article:hover {
  background-color: rgba(239, 242, 248, 0.617);
}

.article:hover #title{
  color: rgba(18, 97, 255, 0.899);
}


.article .h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main, #0858A4);
  width: auto;

}

.article-info {
  opacity: 0.6;
  font-size: 12px;
  width: 100%;
}

.article .info,
.article .views {
  opacity: 0.7;
  display: inline-block;
}
/* 
.views {
  margin-left: 110px;
} */

.author {
  color: var(--main, #0858A4);
  font-size: 12px;
  display: block;
}

.article-content {
  color: black;
  font-size: 13px;
  height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}


.article-content::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.article-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.btn-article:hover {
  border: 2px var(--main, #0858A4) solid;
  background-color: transparent;
  border-radius: 20px;
  color: var(--main, #0858A4);
  opacity: 0.8;

}

#most-popular-container {
  /* box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.025); */
  display: flex;
  flex-direction: column;
  padding: 1.5em;

}

#most-popular-container .item {
  display: flex;
}

.divider {
  border-left: 2px solid #cccdda7e;
  height: auto;
  width: 20px;

}

#most-popular-container h6 {
  font-weight: 700;
}

#most-popular-container span {
  color: var(--main, #0858A4);
  font-family: Arial, Helvetica, sans-serif;

}

#most-popular-container ul li {
  text-align: center;
  font-size: 12px;
  color: rgb(149, 149, 149);
}

#most-popular-container #most-popular div:hover {
  background-color: rgba(239, 242, 248, 0.617);
  cursor: pointer;
}

#most-popular-container .total {
  font-size: 18px;
  font-weight: 700;
  color: #303334;
}

.About-container,
.recommendation-container {
  display: flex;
  /* Change to flex container */
  flex-wrap: wrap;
  justify-content: space-around;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  min-height: 70vh;
  max-height: auto;
  padding: 2em 8%;
}

section {
  padding: 2em 8%;
}

#skeleton-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:1em 0;
  gap: 0.5em;
}


#skeleton-container div {
  width: 100%; 
  height: 16vh; 
  background-color: #eeeeee; 
  border-radius: 4px;
  animation: skeleton-fade 1.5s infinite ease-in-out;
}
