
main {
    padding: 2em 8%;
}

#indexing-container h2 {
    color: #285581;
    font-family: Inter;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

#indexing-container .index{
    border: 1px solid #cfd1d3;
    border-bottom: 0.5em solid #285581;
}

#indexing-container a {
    color: rgb(0, 0, 0);
}

#indexing-container .index:hover {
    background: #f8fbff;
    border-bottom: 0.7em solid #0880E8;
}

.index h3 {
    text-align: center;
    font-family: Inter, sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    padding-top: 0.5em;
}

