@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  transition: 0.5s all ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Judson', serif !important;
}

h4 {
  font-size: 14px;
  font-weight: 600;
}


.recommendation-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 360px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.recommendation-article h4 {
  color: #0858a4;
  font-family: Arial, Helvetica, sans-serif;
  width: 85%;
}

.articles-container {
  width: 85%;
  height: auto;
  border: none;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  gap: 24px;
  border-radius: 8px;
  padding: 2em 0;
}


.articles-container::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.articles-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}


.article {
  padding: 2em;
  width: 25%;
  min-width: 320px;
  height: 100%;
  background-color: white;
  display: inline-block;
  white-space: normal;
  border-radius: 4px;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.025);


}

.article:hover {
  background-color: rgba(239, 242, 248, 0.617);
}

.article .h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: #0858a4;
  width: auto;

}

.article-info {
  opacity: 0.6;
  font-size: 12px;
  width: 100%;
}

.article .info,
.article .views {
  opacity: 0.7;
  display: inline-block;
}

.views {
  margin-left: 110px;
}

.author {
  color: #0858a4;
  font-size: 12px;
  display: block;
}

.article-content {
  color: black;
  font-size: 12px;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}


.article-content::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.article-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.btn-article:hover {
  border: 2px #0858a4 solid;
  background-color: transparent;
  border-radius: 20px;
  color: #0858a4;
  opacity: 0.8;

}

#most-popular-container {
  /* box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.025); */
  display: flex;
  flex-direction: column;
  padding: 2em;

}

#most-popular-container .item {
  display: flex;
}

.divider {
  border-left: 2px solid #cccdda7e;
  height: auto;
  width: 20px;

}

#most-popular-container h6 {
  font-weight: 700;
}

#most-popular-container span {
  color: #0858a4;
  font-family: Arial, Helvetica, sans-serif;

}

#most-popular-container ul li {
  text-align: center;
  font-size: 12px;
  color: rgb(149, 149, 149);
}

#most-popular-container #most-popular div:hover {
  background-color: rgba(239, 242, 248, 0.617);
  cursor: pointer;
}

#most-popular-container .total {
  font-size: 18px;
  font-weight: 700;
  color: #303334;
}

.About-container,
.recommendation-container {
  display: flex;
  /* Change to flex container */
  flex-wrap: wrap;
  justify-content: space-around;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  min-height: 70vh;
  max-height: auto;
  padding: 2em 8%;
}