.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
}


#form{
    width: 400px;
    height: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    padding-top: 20px;
    padding-left: 20px;   
    /* margin-bottom: 50px; */
}

#login-label{
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#form input[type="email"], input[type="password"]{
    width: 95%;

}

#form label{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

#form a{
    float: right;
    margin-right: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btns{
    margin-top: 20px;
    margin-bottom: 50px;
}

#login-button{
    width: 95%;
    background-color: #0858a4;
}

#register-button{
    width: 95%;
    margin-top: 10px;
    border: none;
    border: 1px red solid;
    background-color: white;
    color: red;
}


