#navbar-container{
    background-color: #004e98;
    /* margin-top: 4px; */

}

#navbarSupportedContent a{
    color: white;
    /* margin-right: 20px; */
}

#navbarSupportedContent{
  padding-left: 50px;
}

#notification-container {
  position: relative;
}

#notification-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  color: white;
}

#notification-icon {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

#notification-count {
  position: absolute;
  top: 14px;
  right: 8px;
  background-color: red;
  color: white;
  border-radius: 50%;



}

#notification-box {
  display: none;
  background-color: white;
  color: black;
  padding: 20px;
  border: 1px solid #0858A4;
  border-radius: 5px;
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px; /* Increased width */
  max-height: 400px; /* Maximum height to enable scrolling if content exceeds */
  overflow-y: auto;
}


#notification-items-container {
  width: auto;
  background-color: white;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 250px;
  max-width: 250px;
  min-width: auto;
  height: 50vh;
  position: absolute;
  margin-left: -100px;
  z-index: 999;
  border-radius: 5px;
  display: none;
 
}

#notifcations-title{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  display: none;

}



#notification-items-container ul{
  margin: 0;
  padding: 0;
  display: none;
}

#notification-items-container ul li {
  list-style-type: none;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  width: 100%;
  display: none;
}


#notification-items-container ul li:hover{
  background-color: #EAEDED;
  cursor: pointer;
}


.inviDescript{
  color: black solid;
}

.link-list{
  margin-top: -10px;
}

.ulList:hover{
  background-color: #F4F6F7;
}


#invMsgList:hover{
  background-color: #F4F6F7;
}





#points-container {
  display: flex;
  align-items: center;
  position: relative;
}

#points-button {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  margin-top: -5px;
}

#points-icon {
  margin-right: 3px;
  position: relative;
  top: 2px;
}

#points-count {
  color: white;
  border-radius: none;
  padding: 3px;
  font-size: 12px;
  padding-top: 10px;
}

#points-box {
  display: none;
  background-color: white;
  color: black;
  padding: 15px;
  border: 1px solid #0858A4;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: -5px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
#navbar-container .nav-item {
  display:flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 0.5em;
}

nav .navbar-nav .nav-item:hover {
  background-color: #ff6700;
}

.nav-link {
  width:100%;
  display:flex;
}
.profile {
  color:white;
}