#navbar-container{
    background-color: #004e98;
    /* margin-top: 4px; */

}

#navbarSupportedContent a{
    color: white;
    /* margin-right: 20px; */
}

#navbarSupportedContent{
  padding-left: 50px;
}

#notification-container {
  position: relative;
}

#notification-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  color: white;
}

#notification-icon {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

#notification-count {
  position: absolute;
  top: 14px;
  right: 8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 8px;
}

#notification-box {
  display: none;
  background-color: white;
  color: black;
  padding: 20px;
  border: 1px solid #0858A4;
  border-radius: 5px;
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px; /* Increased width */
  max-height: 400px; /* Maximum height to enable scrolling if content exceeds */
  overflow-y: auto;
}


#points-container {
  display: flex;
  align-items: center;
  position: relative;
}

#points-button {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  margin-top: -5px;
}

#points-icon {
  margin-right: 3px;
  position: relative;
  top: 2px;
}

#points-count {
  color: white;
  border-radius: none;
  padding: 3px;
  font-size: 12px;
  padding-top: 10px;
}

#points-box {
  display: none;
  background-color: white;
  color: black;
  padding: 15px;
  border: 1px solid #0858A4;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: -5px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
#navbar-container .nav-item {
  display:flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 0.5em;
}

nav .navbar-nav .nav-item:hover {
  background-color: #ff6700;
}

.nav-link {
  width:100%;
  display:flex;
}
.profile {
  color:white;
}