
.content-over p, .content-over h2 {
    color: white; 
    position: relative;
    z-index: 1; 
    display: block;
    }

p{
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line;
}

.journal-title{
    width: 18%;
    display: inline-block;
    vertical-align: top;
}

.journal-title h3{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main, #0858A4);
}

.pic-border img{
    border: 1px var(--main, #0858A4) solid;
    width: 100%;
    padding: 7px 7px 7px 7px;
}

.journal-details{
    width: 60%;
    height: 100%;
    display: inline-block;
}

.journal-details h5{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main, #0858A4);
}

.sub-area{
    display: inline-block;
}

.edit-board{
    display: inline-block;
}

.recommendation-article{
    display: block;
    width: 100%;
    height: 400px;
    background-color: #F5F7F8
}

.recommendation-article h4{
    color: var(--main, #0858A4);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 95px;
    display: flex;
}

.articles-container {
    width: 85%;
    height: auto;
    border: none;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.articles-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
}

.articles-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.article {
    width: 25%;
    height: 100%;
    margin-right: 80px;
    background-color: transparent;
    display: inline-block;
    white-space: normal; 
}

.article .h6{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main, #0858A4);
    width: auto;

}

.article-info{
    opacity: 0.6;
    font-size: 12px;
    width: 100%;
}

.author{
    color: var(--main, #0858A4);
    font-size: 12px;
    display: block;
}

.article-content{
    color: black;
    font-size: 12px;
}

.btn-article:hover{
    border: 2px var(--main, #0858A4) solid;
    background-color: transparent;
    border-radius: 20px;
    color: var(--main, #0858A4);
    opacity: 0.8;
}