.content-over {
    position: relative;
    width: 100%;
    height: 20em;
    background-image: url(../images/qcu-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 70px;
    padding-left: 150px;
    
}

.content-over::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(53, 68, 74, 0.7);
}

.content-over p, .content-over h2 {
color: white; 
position: relative;
z-index: 1; 
display: block;

}

.content-over h2{
font-family: Arial, Helvetica, sans-serif;
margin-top: 20px;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line;
}

.journal-title{
    /* border: 1px red solid; */
    width: 18%;
    margin-top: 70px;
    display: inline-block;
    vertical-align: top;
}

.journal-title h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #0858a4;
}

.pic-border{
    border: 1px #0858a4 solid;
    height: 100%;
    width: 100%;
}

.pic-border img{
    width: 94%;
    height: 100%;
    margin: 10px 10px 10px 10px;
}

.journal-details{
    /* border: 1px red solid; */
    width: 60%;
    height: 100%;
    display: inline-block;
    margin-top: 70px;
}

.journal-details h5{
    font-family: Arial, Helvetica, sans-serif;
    color: #0858a4;
}

.sub-area{
    display: inline-block;
}


.edit-board{
    display: inline-block;
}

.recommendation-article{
    display: block;
    width: 100%;
    height: 400px;
    background-color: #F5F7F8
}

.recommendation-article h4{
    color: #0858a4;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 95px;
    display: flex;
}

.articles-container {
    width: 85%;
    height: auto;
    border: none;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.articles-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
}

.articles-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.article {
    margin-top: 20px;
    width: 25%;
    height: 100%;
    margin-right: 80px;
    background-color: transparent;
    display: inline-block;
    white-space: normal; 
}

.article .h6{
    font-family: Arial, Helvetica, sans-serif;
    color: #0858a4;
    width: auto;

}

.article-info{
    opacity: 0.6;
    font-size: 12px;
    width: 100%;
}

.author{
    color: #0858a4;
    font-size: 12px;
    display: block;
}

.article-content{
    color: black;
    font-size: 12px;
}


.btn-article:hover{
    border: 2px #0858a4 solid;
    background-color: transparent;
    border-radius: 20px;
    color: #0858a4;
    opacity: 0.8;
}