/* .main-content{
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/background-spot.svg");
    padding: 2em 8%;
    font-size: 20px;
    color: #285581;
    line-height: 1.6;
    /* height: 20vh; */




#dTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}

#dAbstractTitle, #fileSTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color:#0858A4;    
}

.first-letter {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em; /* Adjust this value as needed */
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
}


#dAbstract{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

/* .content-over::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
} */

.content-over p, .content-over h3 {
    color: var(--main, #0858A4); 
    position: relative;
    z-index: 1; 
    display: block;
}

.content-over h3{
    font-weight: 500 !important;
    /* font-family: 'Raleway', sans-serif; */
    margin-top: 20px;
}



.cover-content{
    width: 80%;
}

.abstract{
    padding-top: 40px;
    display: inline-block;
    width: 60%;
    margin-bottom: 50px;
}

.abstract p{
    text-align: justify;
    margin-top: 10px;
}

.abstract h4{
    /* font-family: 'Raleway', sans-serif; */
    color:var(--main, #0858A4); 
}


.status p {
    display: inline-block;
    border: 1px solid gray; 
    border-radius: 50px;
    padding: 5px;
    font-size: small;
    margin-top: 20px;
}



.articles-info{
    box-sizing: border-box;
    display:inline-block; 
    width: 20%;
    margin-left: 80px;
    /* position: absolute; */
    }

.articles-info p{
    color:var(--main, #0858A4); 
    margin: 0;
}

.views{
    display: inline-block;
}

.downloads{
    display: inline-block;
    padding-left: 100px;
}

.logs-date, .date{
    /* display:inline-flex;
    flex-direction: column; */
    width: 40%;
}

.logs-date h4{
    margin-top: 30px;
}

.logs-date p{
    color: gray;
}

#logsTitle{
    margin-bottom: -8px;
}

.logs-date a{
    color: var(--main, #0858A4);
    text-decoration: none;
}

.logs-date, .date{
    font-family: 'Raleway', sans-serif;
}

.keywords .btn{
    display:flex ;
    flex-direction: row;
}

.logsArticle{
    margin-top: 0px;
}

.keyword1 a{
    display: inline-block;
    border: 1px solid var(--main, #0858A4);
    color:var(--main, #0858A4);
    border-radius: 50px;
    padding: 5px;
    font-size: small;
    text-decoration: none;
    margin: 3px;
}


.step {
    display: none;
}

.step.active {
    display: block;
}

.rev-guide ol, .rev-guide li {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.rev-guide h4{
    /* font-family: 'Raleway', sans-serif; */
    color:var(--main, #0858A4); 
    font-weight: bold;
}

.rev-guide ol {
    
    list-style: none;
    counter-reset: my-counter;
    padding-bottom: 30px;
}

.rev-guide li {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 1.7em;
}

.rev-guide li::before {
    content: counter(my-counter) ".";
    counter-increment: my-counter;
    position: absolute;
    left: 0.10em;

}

.btn-groups button, .btn button{
    width: 100%;
}


.logs-date,
.date {
    height: 300px;
    width: 195px;
    overflow-y: auto; 
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.logs-date::-webkit-scrollbar,
.date::-webkit-scrollbar {
    width: 0em;
}

.logs-date::-webkit-scrollbar-thumb,
.date::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.logs-date::-webkit-scrollbar-track,
.date::-webkit-scrollbar-track {
    background-color: transparent;
}




.guidelines{
    padding-bottom: 90px;
}

.guidelines p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: justify; 
    width: 94%; 
    margin: 0 auto; 
}

.guidelines p:not(:last-child) {
    margin-bottom: 20px;
}


#checkBox {
    transform: scale(1.3); 
}


.contents{
    border: gray 1px solid;
    margin-bottom: 20px;
}

.decisions{
    margin-left: 40px;
}   


.decisions h5,
.comments h5,
.comments h4{
    font-family: 'Raleway', sans-serif;
    color: var(--main, #0858A4); 
}


.decisions h5::after,
.comments h5::after{
    content: "*";
    color: red; /* Style the asterisk */
}

.decisions label{
    font-size: small;
    color: gray;
}

.comments textarea{
    resize: none;
}



/* .btn{
    margin-left: 10px;
} */

.btn button , .btn-action button, .btn-final button{
    display: block;
    color: white; 
    position: relative;
    z-index: 1;
    background-color: var(--main, #0858A4);
    border-radius: 20px;
    margin-top: 20px;
    width: 340px;
}

.btn-action button{
    width: 140px;
    margin-bottom: 20px;
}

.btn button:hover , .btn-final button:hover{
    color: white; 
    position: relative;
    z-index: 1;
    background-color: var(--main, #0858A4);
    border-radius: 20px;
    margin-top: 20px;
    opacity: 0.8;
}

.btn-final button:hover{
    margin-bottom: 20px;
}


#btnReject , #btnCancel{
    border-color: var(--main, #0858A4);
    color:var(--main, #0858A4);
    background-color: transparent;
}


.btn-action, .btn-final{
    display: flex;
    flex-direction: row-reverse;
}

.btn-final button{
    margin-bottom: 20px;
    width: 200px;
    margin-right: 10px;
}

 
#loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1000;
}

#loadingSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




#reviewFormTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    color: #0858A4;
    width: 90%;
    /* margin-left: 40px; */
    
  }
  
  #title2{
    font-family: 'Raleway', sans-serif;
    color: #0858A4;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 90%;
    margin-top: -15px;
    /* margin-left: 40px; */
    
  }

 .col-md-9{
    margin-left: auto;
    margin-right: auto;
 }

.firstContent{
    width: 100%;
  
}

.questionsContainer{
    width: 100%;
}

.questionsAnswer{
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
}

/* .questionsAnswer label{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
} */

.custom-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 100%; /* Ensure square shape */
    outline: none;
}

.custom-radio:checked {
    background-color: #555;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.choices{
    margin-left: 30px;
}

.choices label, .choices input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px){
    .choices{
        flex-direction: column;
        margin-left: 0;
    }
}
