.form-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px
    
}

#form{
    width: 80%;
    height: auto;
    box-shadow:  0 20px 20px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 50px;
 
}



form label{
    display: block;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}

.input-field{
    display: inline-block;
    margin-right: 10px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"], #genSelect, input[type="password"]{
    display: inline-block;
    margin-bottom: 40px;
    width: 150px;
}


.register-container{
    display: inline-block;
}


input[type="submit"]{
    height: 35px;
    width: 200px;
    border-radius: 20px;
    color: #D93939;
    border: none;
    border: 1px solid;
    background-color: white;
    display: block;
    margin-bottom: 20px;
    float: right;
    margin-right: 80px;
   
}

input[type="submit"]:hover{
    color: #D93939;
    border: none;
    border: 1px solid;
    background-color: white;
}







