.form-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px
    
}

#form{
    width: auto;
    height: auto;
    box-shadow:  0 20px 20px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 50px;
    width: 40%;
 
}



form label{
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
   
    
}

.input-field{
    display: block;
    margin-right: 10px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"], #genSelect, input[type="password"]{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 10px;
    margin-top: 5px;
}


.register-container{
    display: inline-block;
}


input[type="submit"]{
    height: 35px;
    width: 99%;
    color: #D93939;
    border: none;
    border: 1px solid;
    background-color: white;
    display: block;
    margin-bottom: 20px;

 
   
   
}


#orcidVlalidation, #span1, #span2, #span3, #span4, #span5{

    color: red;
}



input[type="submit"]:hover{
    color: #D93939;
    border: none;
    border: 1px solid;
    background-color: white;
    height: 35px;
    
}




#privacyBtn{
    width: 99%;
    margin-bottom: 10px;
    height: 35px;
   
}

#privacyStatement{
    color: #0858a4;
    width: 95%;
}

#thirdP{
    width: 100%;
}

.mt-4, .mt-1{
    text-align: justify;
 
}


.progress {
    height: 3px !important;
}
.form-group {
    margin-bottom: 10px;
}
.show-pass{
    position: absolute;
    top:20%;
    right: 3%;
}
.progress-bar-danger {
    background-color: #e90f10;
}
.progress-bar-warning{
    background-color: #ffad00;
}
.progress-bar-success{
    background-color: #02b502;
}
.login-btn{
    width: 180px !important;
    background-image: linear-gradient(to right, #f6086e , #ff133a) !important;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 5px;
    padding: 8px 0; 
}
.login-btn:hover{
    background-image: linear-gradient(to right, rgba(255, 0, 111, 0.8) , rgba(247, 2, 43, 0.8)) !important;
    color: #fff !important;
}
.fa-eye{
    color: #022255;
    cursor: pointer;
}
.ex-account p a{
    color: #f6086e;
    text-decoration: underline;
}
.fa-circle{
    font-size: 6px;  
}
.fa-check{
    color: #02b502;
}