body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    /* margin: 0;
    padding: 0; */
    background: #f0f0f0;
  }

  #title, #getArticleId, #abstract{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 5px;
    width: 100%;
    height: auto;
  }

#title{    
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  color: #0858A4;
  border-radius: 10px;
}


  .keywords-title{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-style: normal;
    color:#285581;
    font-size: 20px;
    margin-bottom: 0;
  }

  #display-abstract{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 5px;
    width: auto;
    border-radius: 10px;
  }

  .first-letter {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em; /* Adjust this value as needed */
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
}

  #abstract-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: Normal;
    font-size: 30px;
  }
.files-submitted-details, .contributors, .comments, .review-rubrics {
    background: #fff;
    margin: 15px;
    padding: 10px;
    
  }
  .article-title {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/review-cover.png");
    padding: 2em 8%;
    font-size: 20px;
    color: #285581;
    line-height: 1.6;
}

  .breadcrumbs {
    font-size: 18px; /* Smaller font size for breadcrumbs */
    margin-bottom: 10px; /* Space between breadcrumbs and title */
    color: #0858A4;
  }



  .row1 {
    display: flex;
    margin-top: 4%;
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
    margin-left: 6%;
    margin-right: 5%;
  }
  .abstract, .submit-details {
    /* border: 1px solid #ddd; */
    /* padding: 15px; */
    background-color: #fff;
  }
  .abstract-title{
    color: #0858A4;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 30px;
  }

  .abstract {
    margin-bottom: 0;
    height: auto;
    flex: 2;
    text-align: justify;
    margin-right: 4%; 
  }

  .column1{

    width: 30%;
  }

  .status{
    margin-bottom: 20px;
  }
  .status-label {
    display: inline-block;
    border-radius: 25px;
    padding: 5px 10px;
    /* Appropriate padding */
    color: white;
    /* White text */
    font-size: 0.8em;
    /* Smaller font size */
    text-transform: uppercase;
    /* Uppercase text */
  }
  
  .review {
    color: red;
    border: 1px solid #D26767;
  
  }
  .submit-details {
    background-color: white; 
    display: flex;
    flex-direction: column;
    max-width: 600px; /* Adjust the width as necessary */
    margin: auto; /* Centering the container */
    width: 100%;
  }
  .submit-section{
    border-top: 1px solid #ddd;
  }
  .submit-section-title {
    color: #285581;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .logs-date-container {
    display: flex;
    
     /* Space between the title and the logs */
  }
 
  .logs, .dates {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
  }
  
  .logs-title{
    background-color: white; /* White background for date entries */
    color: #606060;
    padding-top: 10px; /* Padding within dates */
    border-radius: 5px; /* Rounded corners for date entries */
    text-align: left; /* Aligns the date to the right */
    font-weight: bold;
     /* Space between date entries */
  }
  .log-entry {
    flex: 1;
    color: gray;
    
  }
  .date {
    background-color: white;
    color: #959595;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 5px;
  }

.logs{
  height: 250px;
  overflow-y: auto; 
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
}
.dates {
    height: 250px;
    overflow-y: auto; 
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.logs::-webkit-scrollbar,
.dates::-webkit-scrollbar {
    width: 0.5em;
}

.logs::-webkit-scrollbar-thumb,
.dates::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.logs::-webkit-scrollbar-track,
.dates::-webkit-scrollbar-track {
    background-color: transparent;
}




  .dates-title{
    background-color: white; /* White background for date entries */
    color: #606060;
    padding: 10px; /* Padding within dates */
    border-radius: 5px; /* Rounded corners for date entries */
    text-align: left; /* Aligns the date to the right */
    font-weight: bold;
    
  }
  .date{
    flex: 1;
    background-color: white; /* White background for date entries */
    padding-top: 13px; /* Padding within dates */
    text-align: left; /* Aligns the date to the right */
    margin-bottom: 20px; /* Space between date entries */
    
  }
  
  .view-all-logs {
    color: #0066cc; /* Blue color for the link */
    text-decoration: none; /* No underline by default */
    font-weight: bold;
    margin-top: 20px; /* Space above the link */
    align-self: flex-start; /* Aligns the link to the left */
  }
  
  .view-all-logs:hover {
    text-decoration: underline; /* Underline on hover for better UX */
  }




  .row2 {
    display: flex;
    margin-top: 4%;
    font-family: 'Raleway', sans-serif;
    margin-left: 4%;
    margin-right: 3%;
}

.main2 {
    width: 68%;
    padding-left: 20px;
    
}

.main3 {
    width: 30%;
    padding-top:37px;
}

.main4 {
  width: 100%;
  margin-bottom: 40px;
}

.action-button{
  width: auto;
  display: flex;
  justify-content: space-between; 
}

.files-submitted,
.comments-container {
    flex: 1;
    /* margin: 0 10px; */
    margin-bottom: 20px;
}

.files-submitted table,
.main3 table,
.comments-container table,
.comments-container .section-body {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin-top: -1px;
}

.files-submitted table,
.main3 table,
.comments-container table {
    width: 100%;
    border-collapse: collapse;
}

.files-submitted th,
.files-submitted td,
.comments-container th,
.comments-container td {
    text-align: left;
    padding: 8px;
}

.files-submitted th,
.comments-container th {
    background-color: #285581;
    color: white;
}

.files-submitted tr:last-child td,
.comments-container tr:last-child td {
    border-bottom: none;
}
.keywords {
  padding: 8px;
}

.keyword-tag {
  display: inline-block;
  background-color: #e4e4e4;
  border-radius: 14px;
  padding: 6px 12px;
  margin-right: 5px;
  font-size: 14px;
}
.section-body {
    padding: 8px;
    background-color: white;
    border-bottom: 1px solid #dcdcdc; /* Add a horizontal line at the bottom */

}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

ul li span {
    font-weight: bold;
}

.edit-btn-container{
  width: 100%;
}


#edit-submission {
  right: 86px;
  /* position: absolute; */
  margin-bottom: 10px;
  font-size: 14px;
  background-color: #285581;
  color: white;
  border-radius: 20px;
  width: 100%;
}

@media screen and (max-width: 768px){
  #edit-submission{
    width: 100%;
    right: 12px;
  }
  .btn-option {
    padding-right: 0;
  }
}


#submit-submission{
  margin-bottom: 10px;
  font-size: 14px;
  background-color: #285581;
  color: white;
  border-radius: 20px;
  width: 5%; /* Set the width to 50% of its container */
  max-width: 400px; /* Set a maximum width */
  min-width: 150px; /* Set a minimum width */
  display: none;
}

#submitRevision{
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 20px;
  width: 5%; /* Set the width to 50% of its container */
  max-width: 400px; /* Set a maximum width */
  min-width: 190px; /* Set a minimum width */
  display: none;
}

.btn-option{
  display: flex;
}

#cancel-submission {
  background-color: #EAEAEA;
  margin-bottom: 10px;
  margin-right: 3px;
  font-size: 14px;
  color:#285581;
  border-radius: 20px;
  width: 5%; /* Set the width to 50% of its container */
  max-width: 400px; /* Set a maximum width */
  min-width: 150px; /* Set a minimum width */
  display: none;
}

.table-header,
.section-header {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
  color: #0858A4;
  display: flex;
  width: 100%;
}

#revComment, #artStats {
  display: inline-block;
}

#artStats{
  width: 40%;
  margin-left: 10px;
}


#stats{
  background-color: white;
  border-color: #F40CA5;
  border: 2px solid #F40CA5;
  border-radius: 20px;
  color: #F40CA5;
  text-align: center;
  width: 100%;
  float: right;
  /* height: 4vh; */
  /* margin-right: 20px; */
}


#loadingOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

#loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#addFileName{
  background-color: #0066cc;
}

#title-validation, #abstract-validation{
  font-weight: normal;
  opacity: 0.8;
  display: none;
}


#log-btn {
    /* background-color: #959595; */
    /* color: white; */
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 20px;
    /* position: absolute; */
    border-color: 1px black;
    width: 110px;
}


.logs-title{
  color: #285581;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10px;
}

#back-btn{
  background-color: #EAEAEA;
  color: #285581;
  width: 40%;
  border-radius: 15px;
}

.reviewer-alias{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #3498db;
}

.reviewer-alias:hover{
  cursor: pointer;
}

.modal {
  display: none; /* Hide modal by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto; /* Center the modal content */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Set the width of the modal */
  max-width: 500px; /* Limit max width */
  max-height: 70vh; /* Set maximum height for the modal content */
}

.modal-header {
  position: relative; /* Ensure proper positioning of close button */
  
} 

.close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.reviewerCommentsTitle{
  color: #285581;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}



#reviewerDetails {
  border: 1px black;
  max-height: calc(70vh - 60px); /* Set maximum height for the reviewer details */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
}


.questionnaires{
  margin-left: 20px;
  width: auto;
  color: white;
  background-color: #588297;
  color: white;
  font-family: 'Raleway', sans-serif;
  max-height: 100%; /* Ensure questionnaires and comments inherit the max height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
}

.commentsR{
  color: #285581;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-left: 20px;
  max-height: 100%; /* Ensure questionnaires and comments inherit the max height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
}

.textarea-container {
  position: relative;
  width: 100%;
}

.textarea-container textarea {
  width: 100%;
  height: 150px; /* Adjust the height as needed */
  resize: vertical; /* Allow vertical resizing */
  padding-right: 40px; /* Space for the button */
  resize: none;

}

.textarea-container button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 20px;
}
