body {
  background-color: #f1f1f1;
}

.form-container{
  padding-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-group{
  width: 250px;
  margin-bottom: -60px;
  left: -250px;
 
}


.line{
  text-align: center;
}

#multiSForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 60%;
  min-width: 200px;
  border: none;
  height: auto;
  box-shadow:  0 20px 20px rgba(0, 0, 0, 0.1); 
}

form f1 {
  text-align: left;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}


.tab {
display: none;
}


#tab1{
  margin-top: 20px;
}

.title {
  font-family: 'Times New Roman', Times, serif;
  color: #115272;
  margin-top: 40px;
}

.journal_type{
  margin-bottom: -25px;
}

.journal_type_container{
  margin-top: 40px;
  padding-left: 40px;
}


.guidelines{
  width: 100%;
  padding-top: 20px;
  padding-left: 50px;
}

.guidelines p{
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: block;
}

#flexCheckIndeterminate{
  margin-left: 0;
}

.form-check{
  margin-top: 40px;
}

.category-type{
  margin-top: 20px;
}

.form-check-input{
  margin-top: 10px;
}

.form-check-label{
  margin-left: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  width: 590px;
}



#prevBtn, #nextBtn{
  background-color: #115272;
  color: #ffffff;
  border: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  
  
}

#prevBtn:hover ,  #nextBtn:hover{
  opacity: 0.8;
}



/* Make circles that indicate the steps of the form: */
.step {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}


.input-group{
  margin-top: 40px;
}

.input-group textarea{
  resize: none;
  height: 70px;
}

.upload-title{
display: inline-block;
}

#upload-btn{
background-color: #115272;
float: right;
margin-top: 30px;
}

.contributors-title{
display: inline-block;
}

#contributor-btn{
background-color: #115272;
float: right;
margin-top: 30px;
}

