.publications-articles {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
}
.stats-main{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-right: 1px solid #ccc;
    margin-right: 20px;
    padding: 10px;
}
.publications-stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
}

.stat {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    margin-bottom: 10px;
}

.publications-stats-values{
    font-size: larger;
    color: #285581;
}
.publications-stats-labels{
    font-size: smaller;
    text-transform: uppercase;
    margin: 0;
    color: #6C757D;
}
.search-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-right: 10px;
}
input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%; /* Add spacing between stats and search input */
}

.publications-table-container {
    width: 100% !important; /* Set the width to 80% */
    overflow-x: auto !important;
    height: 500px !important;
    
}
.publications-table-container table {
    width: 100% !important;
    border-collapse: collapse !important;
    background-color: white !important;
    border-top: 30px solid #285581 !important;
    margin-bottom: 40px !important;	

    
}
.publications-table-container th,
.publications-table-container td {
    padding: 15px !important;
    text-align: left !important;
    font-weight: bold !important;
}
.publications-table-container td{
    color: #6C757D !important;
}
.publications-table-container th {
    
    background-color: #fff !important;
}


/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    .publications-articles {
        flex-direction: column;
    }

    .stats-main {
        width: 100%;
        border-right: none;
    }
    .row {
        margin-bottom: 30px;
    }
    
    .publications-stats-container {
        margin-right: 0;
        border-bottom: none;
    }

    .stat {
        margin-bottom: 10px;
    }
}


