body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    /* Or use the exact background color from your design */
}

.content-over {
    position: relative;
    width: 100%;
    max-height: 20em;
    background-image: url(../images/qcu-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2em 8%;
    display: inline-flex;
    flex-direction: column;

}
/* 
.content-over::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 68, 74, 0.7);
} */

.content-over h3 {
    font-size: 24px !important;
    color: white;
    position: relative;
    z-index: 1;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;

}

.content-over button {
    font-size: 14px;
    color: white;
    position: relative;
    z-index: 1;
    background-color: #eceef1;
    border-radius: 20px;
    margin-top: 20px;
}



.content-over button:hover {
    color: white;
    position: relative;
    z-index: 1;
    background-color: #eceef1;
    border-radius: 20px;
    margin-top: 20px;
    opacity: 0.8;
}


#btn1{
    background-color: #E56F1F;
    margin-right: 10px;
    width: 100%;

    max-width: 175px;

}

#btn2 {
    border: 2px white solid;
    margin-right: 10px;
    background-color: transparent;
    width: 100%;

    max-width: 175px;
}
@media only screen and (min-width: 600px) {
    #btn1, #btn2 {
        width: 50%; /* Adjust width for larger screens */
    }
}




.main {
    background-color: white;
}

.main-profile {
    background-color: white;
    padding: 20px;
    border: 1px solid white;
    margin: 0px 40px 5px 40px;
    box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.5);
}

.profile-container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    position: relative;
    
}

.profile-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    width: 16%;
    justify-content: center;
}

.profile-main {
    position: relative;
    width: 30%;
    
}

.profile-pic {
    display: block;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    border-radius: 50%;
}

.profile-info {
    width: 50%;
    margin-top: 10px;

}

.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 70%;
    max-width: 1000px;
    
    overflow: hidden; /* Hide any content that exceeds the container */
}

.popup-form .form-content {
    max-height: 600px; /* Adjust the value based on your design */
    overflow-y: auto; /* Enable scrolling if the content exceeds the height */
}


.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: #004e98;
    width: 100%;
    color: white;
    padding: 0px 15px 0px 15px;
}

.form-header h4 {
    margin: 0;
}

.close-icon {
    cursor: pointer;
    font-size: 30px;
}
.edit-profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.change-icon {
    margin-top: 5px;
    cursor: pointer;
    color: #007bff;
}


.form-section {
    padding: 30px;
    margin-bottom: 20px;
}
.row-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-row {
    display: flex;
    flex-direction: column; /* Arrange label and input in a column */
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px; /* Add some space between label and input */
    color: #285581;
}

.text-box {
    width: 200px;
    padding: 5px; /* Set the desired width for the text boxes */
    box-sizing: border-box; /* Include padding in the width calculation */
}
.other-text-box{
    width: 400px;
    box-sizing: border-box;
}
.date-box {
    width: 200px; /* Set the desired width for the date box */
    padding: 5px; /* Add padding for better aesthetics */
    box-sizing: border-box; /* Include padding in the width calculation */
}
.dropdown-box {
    width: 200px; /* Set the desired width for the dropdown */
    padding: 5px; /* Add padding for better aesthetics */
    box-sizing: border-box; /* Include padding in the width calculation */
}
.bio-textarea {
    width: 100%; /* Set the desired width for the textarea */
    height: 120px; /* Set the desired height for the textarea */
    padding: 5px; /* Add padding for better aesthetics */
    box-sizing: border-box; /* Include padding in the width calculation */
}
#addExpertiseButton{
    border: 1px #285581 solid;
    color: #285581;
    background-color: transparent;
    width: 100px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 50px;
}
#keywordContainer{
    width: 100%;
    border: 1px black solid;
    height: 200px;
    margin-top: 20px;
}
.keyword, .getExpertise {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.close-btn {
    cursor: pointer;
    margin-left: 5px;
}
#saveButton {
    background-color: #285581;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    width: 200px;
    float: right;
}

#editBtn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    width: 200px;
    float: right;
}

#cancelBtn {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    width: 200px;
    float: right;
    display: none;
}

.row {
    display: flex;
    align-items: center;
}
.user-info {
    flex: 1; /* Allow user-info to grow and take available space */
}
.info-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.ri-edit-box-line{
    font-size: 20px;
    cursor: pointer;
}
.user-info .role {
    color: #285581;
}

.user-info h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: .5rem;
}

.user-info p {
    font-size: .9rem;
    color: #666;
    margin-bottom: .25rem;
}

.user-info p.subscription {
    color: #000096;

}

#edit-profile {

    font-size: 14px;
    background-color: #285581;
    margin-right: 10px;
    width: 50%;
    min-width: 120px;
    max-width: 135px;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
}

.vertical-line {
    border-left: 1px solid #ccc;
    /* Adjust color and thickness as needed */
    height: auto;
    /* Adjust height as needed */
    margin: 0 10px;
    /* Add margin for spacing */
}

.profile-main .details {

    /* padding: 5px 20px 0px 20px; */
    border-radius: 10px;
    /* Adjust as needed */

}
.icon-container {
    text-align: right;
    margin-bottom: 5px;
}
.ri-eye-line, .ri-eye-close-line {
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top:0;
    right:0;
  }
.details {
    position: relative;
    /* padding: 20px; */
    border-radius: 10px;
    position: relative;
}

.details p {
    font-size: .9rem;
    color: #285581;
    margin-bottom: .25rem;
}

.label {
    font-weight: bold;
    display: inline-block;
    min-width: 180px;
    color: #666;
    margin-bottom: 10px;

}
.hidden {
    display: none;
  }
.xp-container {
    margin-top: 20px;
    /* Add some space between the content and XP container */
}

.xp-bar {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.xp-label {
    font-weight: bold;
    margin-top: 5px;

}

.progress-bar {
    width: 90%;
    height: 15px;
    background-color: #ddd !important;
    /* Bar background color */
    border-radius: 20px;
    margin-top: 5px;
    z-index: 999



}

.progress {
    height: 100%;
    background-color: #588297 !important;
    /* Progress color */
    border-radius: 20px;
    z-index: 999

}

@media (max-width: 768px) {
    .profile-container {
        flex-wrap: wrap;
    }
    .profile-sidebar,
    .profile-info,
    .profile-main {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .info-header {
        flex-direction: row; /* Keep elements in a row */
        justify-content: center; /* Center the elements horizontally */
        align-items: center; /* Center the elements vertically */
    }

    .ri-edit-box-line {
        margin-left: 5px; /* Remove margin for smaller screens */

    }
    .profile-badge,
    .user-info,
    .balance-points,
    #btn1{
    text-align: center;
    }
    .popup-form {
        width: 90%; /* Adjust the width for smaller screens */
    }

    .form-content {
        padding: 10px; /* Adjust padding for better aesthetics */
    }
}

/* Style for the tab buttons */
.tab {
    font-family: Arial, sans-serif;
    overflow: hidden;
    /* margin-left: 60px; */

}

/* Style the buttons inside the tab */
.expertise {
    background-color: white;

}

.tab button {
    font-family: Arial, sans-serif;
    color: #004e98;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 17px;
    font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {

    border-bottom: 3px solid #004e98;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px; */

    border-top: 1px solid #CCCCCC;

}

.tablinks.active,
.tablinks:hover {
    /* Darker background on hover/active */
    color: #004e98;
}

.tablinks {}

/* When content is displayed */
.tabcontent.show {
    display: block;
}
/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
    .tab {
        margin-left: 0;
    }

    .tab button {
        width: 100%; /* Make buttons full width on smaller screens */
        margin-bottom: 5px; /* Add spacing between buttons */
    }

    .tabcontent {
        padding: 10px; /* Adjust padding for smaller screens */
    }

}


#about-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;

}

#logrecord-container {
    width: 100%;
    max-width: 250px;
    height: auto;
    /* margin-top: 3px; */
    text-align: center;
}

.log-box {
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 8px;
    color: #285581;

}

#info-container {
    flex: 1;
    margin-left: 20px;

}



.info-box h3, .info-box span {
    color: #285581;

}

.info-box p {
    color: #454545;
}

.info-box {
    flex: 1;
    /* margin-left: 20px; */
    margin-bottom: 8px;
    border: 1px solid #CCCCCC;
    padding: 2%;
    box-sizing: border-box;

}

.bio-container,
.expertise-container {
    margin-top: 0px;

}
@media screen and (max-width: 768px) {
    /* Apply styles for screens up to 768 pixels wide */
    #logrecord-container {
        max-width: 100%; /* Full width on smaller screens */
    }
    #info-container {
        margin-left: 0;
    
    }
    .info-box {
        margin-left: 0; /* Reset margin for smaller screens */
    }
}




#contribution-container {
    display: flex;
    margin: 20px;
}

#contribution-record-container {
    width: 100%;
    max-width: 300px;
    margin-top: 5px;
}

.stats-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    gap: 20px;
    background-color: #fff;
    padding: 10px;
}

.stat-card {
    width: 100%;
    background: #F5F7FF;
    border-radius: 15px;
    /* Rounded corners as per your image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    padding: 20px;
    /* Padding inside cards */
    position: relative;
    /* For absolute positioning of the increase label */
}

/* Top cards styling */
.stat-card.top-card {
    text-align: left;
    /* Align text to the left */
}

.stat-card.top-card h2,
.stat-card.top-card p {
    margin: 0;

}

.stat-card.top-card h2 {
    font-size: 16px;
    /* Adjust font size as needed */
    font-weight: 300;
    /* Semi-bold */
    color: #697077;

}

.stat-card.top-card p {
    font-size: 15px;
    /* Larger font size for the numbers */
    margin-top: 4px;
    /* Space between the title and the number */
    color: #004e98;

    font-weight: bold;
}

/* Increase label styling */
.increase {
    background-color: #45D700;
    /* Lighter green background for the increase label */
    color: #FFFFFF;
    /* Green text color for the increase label */
    padding: 5px 10px;
    border-radius: 10px;
    /* Rounded corners for the label */
    position: absolute;
    /* Absolute positioning inside the stat card */
    right: 20px;
    /* Align to the right */
    bottom: 20px;
    /* Align to the bottom */
    font-weight: bold;
    left: auto;
}

.vertical-line {
    border-left: 1px solid #ccc;
    /* Adjust color and thickness as needed */
    height: auto;
    /* Adjust height as needed */
    margin: 0 10px;
    /* Add margin for spacing */
}

#graph-container {
    flex: 1;
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    color: #285581;
}

.graph {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
}
@media screen and (max-width: 768px) {
    #contribution-record-container {
        width: 100%;
        max-width: 100%;
    }
    /* Apply styles for screens up to 768 pixels wide */
    .stats-section {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
    .vertical-line {
        display: none; /* Display the vertical line on larger screens */
    }
    #contribution-container {
        flex-wrap: wrap;
    }
    #graph-container {
        flex: 1;
        margin-top: 20px;
        margin-left: 0;
        width: 100%; /* Full width on small screens */
        max-width: none; /* Remove max-width on larger screens */
        border: 1px solid #ccc;
        padding: 20px;
        color: #285581;
    }
    .graph {
        display: block; /* Display as a block on smaller screens */
        height: auto; /* Auto height on smaller screens */
    }
}


#rewards-container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

#badges-container {
    border: 1px solid #959595;
    padding: 0px 15px 20px 15px;
    margin-right: 10px;
    text-align: center;
    width: 100%; /* Full width on small screens */
    max-width: 300px; /* Maximum width on larger screens */
    margin-bottom: 20px;
    position: relative;
}

#badges-container h3 {
    font-family: Arial, sans-serif !important;
    font-size: 25px;
    margin: 20px;
    font-weight: bold;
    text-align: left;
}

.badge-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.profile-badge p {
    font-size: .9rem;
    color: #666;
    margin-bottom: .25rem;
}
.badge-box {
    width: 65px;
    height: 65px;
    background-color: #f0f0f0;
    margin: 0px 8px 0px 8px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;

}
/*
.arrow {
    width: 0;
    height: 0;
    border-right: 10px solid red; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 50%;
    right: -200px; 
    transform: translateY(-50%);
} 
*/
.popup-container {
    display: none;
    position: fixed;
    background-color: #588297;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}
.popup-container p{
    font-size: 12px;
}

.badge-popup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
}
.badge-popup .badge-box:hover {
    border-color: #0858a4; /* Change this to the desired border color */
}
#see-more {
    border: 2px #0858a4 solid;
    background-color: transparent;
    border-radius: 20px;
    color: #0858a4;
    width: 50%;
    margin-top: 10px;
    cursor: pointer;
    /* Add margin for spacing */
}

/* Optional: Add hover effect */
/*#see-more:hover {
    background-color: #0858a4;
    color: #fff;
}*/

#credit-history-container {
    height: 404px;
    width: 100%; /* Full width on small screens */
    max-width: none; /* Remove max-width on larger screens */
    background-color: white;
    padding: 0 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid #959595;
    overflow-y: auto;
}
.table-container {
    overflow-x: auto; /* Enable horizontal scrollbar if needed */
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #CCCCCC75;
}
.sort-container{

}
.sort-header {
    gap: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px;
    border-bottom: 1px solid #CCCCCC75;

}

.sort-by-text {
    margin-bottom: 10px;
    margin-top: 0; /* Adjust the top margin as needed */
}
#sortby{
    color: #285581;
    margin-top: 10px;
    width: 200px;
}
.sort-icon {
    margin-bottom: 10px; /* Adjust the bottom margin as needed */
}

#credit-history-container h3 {
    font-family: Arial, sans-serif !important;
    font-size: 18px;
    color: black;
    font-weight: bold;
}


.balance-points {
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

.credit-history-row {
    background-color: #588297;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #58829738;
    border-top: 1px solid #eceef1;
}

td {
    padding: 10px;
    text-align: left;
    border-bottom: 10px solid white !important;
    font-weight: bold;
    color: #285581;
}
.view-button {
    width: 100%; /* Make the "View" button fill the entire cell */
    border-color: #285581; /* Remove default button border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 1px 10px; /* Add padding for better button appearance */
    background-color: transparent; /* Add a background color */
    color: #285581; /* Set text color to white */
    cursor: pointer; /* Add pointer cursor on hover */
}
.view-button:hover {
    background-color: white; /* Change background color on hover */
}



@media screen and (max-width: 768px) {
    /* Apply styles for screens wider than 768 pixels */
#rewards-container {
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}
#badges-container {
    width: 100%;
    max-width: 100%; /* Restore original width on larger screens */
    margin-right: 0;
}
.badge-box {
    margin: 0 0 10px 0; /* Add margin between badge boxes */
}
#credit-history-container {
    width: 100%; /* Adjust width for larger screens */
}
#see-more {
    width: 100%; /* Full width on small screens */
}
}


.recommendation-article{
    display: block;
    width: 100%;
    height: auto;
    background-color: #F5F7F8
	
}

.recommendation-article h2{
    color: #115272;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 95px;
    display: flex;
	padding-top: 60px;
	
}

.articles-container {
    width: 100% !important;
    height: auto;
    border: none;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
	
}

.articles-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
}

.articles-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.article {

    width: 25%;
    height: auto;
    margin-right: 80px;
    margin-bottom: 20px;
    background-color: transparent;
    display: inline-block;
    white-space: normal; 
}

.article .h6 {
    font-family: 'Times New Roman', Times, serif;
    color: #115272;
    width: auto;
    height: 10vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.article .h6::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.article-info{
    opacity: 0.6;
    font-size: 12px;
    width: 100%;
}

.author{
    color: #115272;
    font-size: 12px;
    display: block;
}

.article-content{
    color: black;
    font-size: 12px;
    width: auto;
    height: 15vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.article-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.btn-article {
    border: 2px #115272 solid;
    background-color: transparent;
    border-radius: 20px;
    color: #115272;
    width: 100%; /* Make the button full-width */
}

.btn-article:hover{
    opacity: 0.8;
}
/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
    .recommendation-article h2 {
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .articles-container {
        white-space: normal;
        overflow-x: auto; /* Add horizontal scrollbar if needed */
        overflow-y: auto; /* Add vertical scrollbar */
        scrollbar-width: thin;
        max-height: 600px; /* Set a specific height for the container */

    }

    .article {
        width: 100%;
        margin-right: 0;
    }
}



.flex-container {
    display: flex;
    justify-content: space-between;
	margin-bottom: 50px;
	background-color: white;
}

/* Apply the styles to hide the scrollbar */
.historyTitle,
.historyAbstract {
    width: 100%;
    /* height: 20vh; */
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
}

/* Customize the appearance of the scrollbar for WebKit browsers (Chrome, Safari) */
.historyTitle::-webkit-scrollbar,
.historyAbstract::-webkit-scrollbar {
    width: 12px;
}

.historyTitle::-webkit-scrollbar-thumb,
.historyAbstract::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.historyTitle::-webkit-scrollbar-track,
.historyAbstract::-webkit-scrollbar-track {
    background-color: transparent;
}


.historyJournal{
    width: 100%;
}

.continue-reading-article-container {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid white;
    /* padding: 20px; */
    border-radius: 4px;
    width: 100%;
	margin-bottom: 10px;
	box-shadow: 0 1px 1px -2px rgba(0, 0, 0, 0.2);
}

.continue-reading-article-details {
    border: none;
    display: inline-block;
    width: 65%;
    color: #454545;
}

.continue-reading-article-details .continue-reading-keywords {
    margin-bottom: 10px;
}

.continue-reading-article-details .continue-reading-keyword {
    display: inline-block;
    background-color: #e1e1e1;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 0.875em;
    color: #115272;
    margin-left: 50px;
}

.continue-reading-article-details h6 {
    color: #115272;
}

.continue-reading-article-stats {
    
    display: inline-block;
    width: 30%;
    border: none;
    flex-direction: column;
    margin-left: 20px;
    /* height: 30vh; */
    margin-bottom: 50px;
}

.continue-reading-stats-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.continue-reading-view-downloads {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.continue-reading-stats-values {
    font-size: larger;
}

.continue-reading-stats-labels {
    font-size: smaller;
    text-transform: uppercase;
    margin: 0;
}

.continue-reading-published-infos {
    align-self: flex-start;
    justify-content: left;
    width: 100%;
}

.continue-reading-published-infos h5,
.continue-reading-published-infos p {
    margin: 0;
    text-align: left;
}

.continue-reading-publish-labels {
    font-weight: bold;
    margin-bottom: 5px;
}

.continue-reading-authors {
    font-style: italic;
}

.continue-reading-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    color: #115272;
	
}

.continue-reading-container {
    flex-direction: column;
	margin-left: 80px;
}


.featured-updates-container {
	flex-direction: column;
    width: 50%; /* adjust the width as needed */
    border: 1px solid #ccc;
    padding: 10px 30px 30px 30px;
    border-radius: 4px;
	margin-right: 20px;
}

.featured-updates-container h2{
color: #115272;

}

.ex-featured {
    display: flex;
	flex-direction: column;
    justify-content: center; /* Center horizontally within the container */
    align-items: center; /* Center vertically within the container */
}

.example-featured {
    border-radius: 5%;
    border: 2px solid #285581;
    width: 100%;
    height: 100%;
    display: inline-block; 
    text-align: center; 
    margin: 0px 50px 20px 50px; 
    background-color: white;
	
}


.example-featured p {
    text-align: center;
    margin: 20px 20px 20px 20px;
    text-align: justify;
}

.example-featured a{
    text-decoration: none;
}

.img-featured {
    width: 100%;
    height: auto;
    
}

.img-featured img {
    width: 100%; /* Make the image fill the width of its container */
    height: auto; /* Maintain aspect ratio */
}

#show-more{
    font-size: 14px;
    background-color: #285581;
    margin-right: 0; /* Reset margin for smaller screens */
    width: 100%; /* Make button full-width for smaller screens */
    border-radius: 20px;
    color: white;

}

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .continue-reading-article-container {
        width: 100%;
    }

    .continue-reading-container {
        margin-left: 0;
    }
    .continue-reading-container h1 {
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .featured-updates-container {
        width: 100%;
    }
}


.table-container {
    max-height: 300px;
    overflow-y: auto; 
  }


  
.cert-container{
    width: 100%;
   
}

#cert1{
width: 800px;
height: 500px;

}

.cert-category{
    position: absolute;
}

#category {
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

#awardee{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 25px;
}

#awardeeName{
    
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
  
}

#engagement{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 80px;
    
}

#engagementTitle{
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    width: 720px;
}

section {
    padding: 1em 8% !important;
}