body {
    margin: 0;
    background-color: white;
}

.main {
    background-color: #f9f9f9;
}

.main-profile {
    position: relative;
    width: 100%;
    max-height: 20em;
    background-image: url(../images/qcu-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2em 8%;
    display: inline-flex;
    flex-direction: column;
}

.main-profile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 220, 220, 0.7);
}

.profile-container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 20px;
    border-radius: 10px;
}

.profile-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    width: 16%;
    justify-content: center;
}

.profile-main {
    position: relative;
    width: 30%;
}

.profile-pic {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
    padding: 5px;
}

.button-container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.profile-info {
    width: 50%;
    margin-top: 10px;
}

.popup-overlay,
.popup-form {
    display: none;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 70%;
    max-width: 1000px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.form-content {
    flex: 1;
}

.popup-form .form-content {
    max-height: 500px; 
    overflow-y: auto; 
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: var(--gray);
    width: 100%;
    color: #0858a4;
    font-weight: bold;
    padding: 0px 15px 0px 15px;
    height: 80px;
}

.close-icon {
    cursor: pointer;
    font-size: 30px;
}

.form-section {
    padding: 30px;
    margin-bottom: 20px;
}

.row-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.profile-main span,
label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.text-box,
.other-text-box,
.date-box,
.dropdown-box,
.bio-textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.text-box {
    width: 200px;
}

.other-text-box {
    width: 400px;
}

.date-box,
.dropdown-box {
    width: 200px;
}

.bio-textarea {
    width: 100%;
    height: 120px;
    resize: vertical;
}

#keywordContainer {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    overflow-y: auto;
    color: white !important;
}

.keyword {
    display: inline-block;
    background-color: #0858a4;
    color: white !important;
    padding: 8px 12px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.keyword:hover {
    background-color: #0858a4;
}

.keyword:focus {
    outline: none;
}

.close-btn {
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
    color: white !important;
}

.edit-profile-btn {
    display: flex;
    flex-wrap: wrap;
}
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.btn-primary,
#addExpertiseButton,
#saveButton {
    background-color: #0858a4;
    color: white;
    border: none;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    margin-left: 10px;
}

.btn:hover {
    cursor: pointer;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding: 15px;
}

#editBtn {
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    float: right;
}

@media screen and (max-width: 600px) {
    .form-buttons {
        flex-direction: column;
        align-items: stretch;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-primary {
        order: 1;
    }

    .btn-secondary {
        order: 2;
    }
}

.row {
    display: flex;
    align-items: center;
}

.user-info {
    flex: 1;
}

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.ri-edit-box-line {
    font-size: 20px;
    cursor: pointer;
}

.user-info .role {
    color: #004e98;
}

.user-info h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: .5rem;
}

.user-info p {
    font-size: .9rem;
    color: #666;
    margin-bottom: .25rem;
}

.user-info p.subscription {
    color: #004e98;
}

#edit-profile {
    font-size: 14px;
    background-color: #0858a4;
    margin-right: 10px;
    width: 50%;
    min-width: 120px;
    max-width: 135px;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
}

.vertical-line {
    border-left: 1px solid #ccc;
    height: auto;
    margin: 0 10px;
}

.icon-container {
    text-align: right;
    margin-bottom: 5px;
}

.ri-eye-line,
.ri-eye-close-line {
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.details {
    position: relative;
    border-radius: 10px;
}

.details p {
    font-size: .9rem;
    color: #333;
    font-weight: bold;
    margin-bottom: .25rem;
}


.label {
    font-weight: bold;
    display: inline-block;
    min-width: 165px;
    color: #666;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.xp-container {
    margin-top: 20px;
}

.xp-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.xp-label {
    font-weight: bold;
    margin-top: 5px;
}

.progress-bar {
    width: 90%;
    height: 15px;
    background-color: #ddd !important;
    border-radius: 20px;
    margin-top: 5px;
    z-index: 999;
}

.progress {
    height: 100%;
    background-color: #588297 !important;
    border-radius: 20px;
    z-index: 999;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 30%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
}

.img-fluid{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    margin-left: auto; 
    margin-right: auto
}

/* .image-container {
    text-align: center;
}

.img-fluid {
    max-width: 50%;
    border-radius: 60%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: auto;
    margin-right: auto;
} */

@media (max-width: 768px) {
    .profile-container {
        flex-wrap: wrap;
    }
    .main-profile{
        padding: 0.5em;
        max-height: none;
        align-items: center;
    }
    .profile-sidebar,
    .profile-info,
    .info-header,
    .profile-main {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .info-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .label {
        min-width: 100px;
    }
    .ri-edit-box-line {
        margin-left: 5px;
    }

    .profile-badge,
    .user-info,
    .balance-points,
    .totalLikes,
    #btn1 {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .popup-form {
        width: 90%;
    }
    .popup-form,
    .form-content {
        height: 700px;
        max-height: 100%;
    }

    .form-content {
        padding: 10px;
    }
    .modal-content {
        width: 90%;
    }
    .row-form {
        display: block;
    }
    .text-box,
    .other-text-box,
    .date-box,
    .dropdown-box,
    .bio-textarea {
        width: 100%;
    }
    .edit-profile-btn {
        justify-content: center;
    }
    #cancelBtn,
    #saveButton {
        width: auto;
        margin: 5px;
    }
    /* #expertise {
        width: 100%;
    } */
    #addExpertiseButton {
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }
}



.tab {
    overflow: hidden;
    border-bottom: 10px solid #0858a4;
}

.expertise {
    background-color: #f9f9f9;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expertise h3 {
    margin-bottom: 10px;
    color: #333;
}

.expertise p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #666;
}


.tab button {
    color: #004e98;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 17px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #0858a4;
    color: white;
}

.tabcontent {
    display: none;
    background-color: white;
    border: 1px solid #ddd;
    border-top: 1px solid #CCCCCC;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
}

.tablinks.active,
.tablinks:hover {
    color: #004e98;
}

.tabcontent.show {
    display: block;
}

#about-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

#logrecord-container {
    width: 100%;
    max-width: 250px;
    height: auto;
    text-align: center;
}

.log-box {
    border: 1px solid #CCCCCC;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.log-box h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.date,
.not-found {
    color: #666;
    font-size: 14px;
    margin-top: 5px;
}

.not-found {
    color: #FF6347;
}

#info-container {
    flex: 1;
    margin-left: 20px;
    width: 100%;
}

.info-box {
    flex: 1;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    padding: 20px;
    border-radius: 5px;
}

.info-box h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.info-box p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.bio-container,
.expertise-container {
    margin-top: 0px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media screen and (max-width: 768px) {
    .tab {
        margin-left: 0;
    }

    .tab button {
        width: 100%;
        margin-bottom: 5px;
    }

    .tabcontent {
        padding: 10px;
    }
    
    #info-container{
        margin-left: 0;
    }
}



#contribution-container {
    display: flex;
    margin: 20px;
}

#contribution-record-container {
    width: 100%;
    max-width: 300px;
    margin-top: 5px;
}

.stats-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    background-color: #fff;
    padding: 10px;
}

.stat-card {
    width: 100%;
    background: #F5F7FF;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.stat-card.top-card {
    text-align: left;
}

.stat-card.top-card h2,
.stat-card.top-card p {
    margin: 0;
}

.stat-card.top-card h2 {
    font-size: 16px !important;
    font-weight: 300;
    color: #697077;
}

.stat-card.top-card p {
    font-size: 15px;
    margin-top: 4px;
    color: #004e98;
    font-weight: bold;
}

.increase {
    background-color: #45D700;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-weight: bold;
}



.vertical-line {
    border-left: 1px solid #ccc;
    height: auto;
    margin: 0 10px;
}

#graph-container {
    flex: 1;
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    color: #285581;
}

.graph {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
}

@media screen and (max-width: 768px) {
    #contribution-record-container {
        width: 100%;
        max-width: 100%;
    }
    .stats-section {
        grid-template-columns: 1fr;
    }
    .vertical-line {
        display: none;
    }
    #contribution-container {
        flex-wrap: wrap;
    }
    #graph-container {
        flex: 1;
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        max-width: none;
        border: 1px solid #ccc;
        padding: 20px;
        color: #285581;
    }
    .graph {
        display: block;
        height: auto;
    }
}



/* #Rewards {
    padding: 20px;
} */

#rewards-container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#badges-container {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 0px 15px 20px 15px;
    /* margin-right: 10px; */
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    position: relative;
}

#badges-container h3 {
    /* font-size: 25px; */
    margin: 20px;
    font-weight: bold;
    text-align: left;
}

.badge-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile-badge p {
    font-size: .9rem;
    color: #666;
    margin-bottom: .25rem;
}

.badge-box {
    width: 65px;
    height: 65px;
    background-color: #f0f0f0;
    margin: 0px 8px 0px 8px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
}

.popup-container {
    display: none;
    position: fixed;
    background-color: #588297;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.popup-container p {
    font-size: 12px;
}

.badge-popup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
}

.badge-popup .badge-box:hover {
    border-color: #0858a4; /* Change this to the desired border color */
}

#see-more {
    border: 2px var(--main, #0858A4) solid;
    background-color: transparent;
    border-radius: 20px;
    color: var(--main, #0858A4);
    width: 50%;
    margin-top: 10px;
    cursor: pointer;
    /* Add margin for spacing */
}

/* Optional: Add hover effect */
/*#see-more:hover {
    background-color: #0858a4;
    color: #fff;
}*/
#publications-container,
#credit-history-container {
    height: auto;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    /* overflow-y: auto; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin-top: 20px;
}

.credit-container {
    /* border: 1px solid #e0e0e0;
    border-radius: 10px; */
    padding: 20px;
}
.header-badges,
.publications-achievements,
.header-achievements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.header-badges h3,
.publications-achievements h3,
.header-achievements h3 {
    /* font-size: 24px; */
    color: #285581;
    margin: 0;
}

.sort-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.sort-header {
    gap: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px;
    border-bottom: 1px solid #CCCCCC75;
}

.sort-by-text {
    font-size: 16px;
    color: #454545;
}

#sortby {
    color: #285581;
    margin-top: 10px;
    width: 200px;
}

.sort-icon {
    font-size: 20px;
    color: #285581;
}

.balance-points {
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    font-weight: bold
}

.credit-history-row {
    background-color: #588297;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.table-container {
    max-height: 300px;
    overflow-y: auto; 
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 100%;
}
/* .table-container {
    max-height: 300px;
    overflow-y: auto; 
} */
.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    padding: 12px;
    text-align: left;
}

.table-container th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

.table-container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
#achievements-table tbody tr:hover {
    background-color: #f2f2f2;
}
.view-button {
    padding: 8px 20px;
    border: 2px solid #285581;
    border-radius: 5px;
    background-color: transparent;
    color: #285581;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.view-button:hover {
    background-color: #285581;
    color: #fff;
}


@media screen and (max-width: 768px) {
    #rewards-container {
        flex-wrap: wrap;
    }
    #badges-container {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
    }
    .badge-box {
        margin: 0 0 10px 0;
    }
    #credit-history-container {
        width: 100%;
    }
    #see-more {
        width: 100%;
    }
}

.publications-container{
    padding: 20px;
}

/* .publications-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
} */

.publications-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.publications-table th,
.publications-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.publications-table th {
    background-color: #f2f2f2;
    color: #333;
}

.publications-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.achievements-table tbody tr:hover,
.publications-table tbody tr:hover {
    background-color: #f2f2f2;
}

.publications-table tbody td {
    color: #666;
}

.published-articles {
    display: none;
}

.recommendation-article {
    display: block;
    width: 100%;
    height: auto;
    background-color: #F5F7F8;
}

.recommendation-article h2 {
    color: #115272;
    margin-left: 95px;
    display: flex;
    padding-top: 60px;
}

.articles-container {
    width: auto !important;
    height: auto;
    border: none;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.articles-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
}

.articles-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.no-article-message {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: 20px;
    border-radius: 5px;
    white-space: normal !important;
}

.no-article-message p {
    margin: 0;
    font-size: 16px;
}

.article {
    width: 25%;
    height: auto;
    margin-right: 80px;
    margin-bottom: 20px;
    background-color: transparent;
    display: inline-block;
    white-space: normal; 
}

.article .h6 {
    color: #115272;
    width: auto;
    height: 10vh;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: justify;
}

.article .h6::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.article-info {
    opacity: 0.6;
    font-size: 12px;
    width: 100%;
    text-align: justify;
}

.author {
    color: #115272;
    font-size: 12px;
    display: block;
}

.article-content {
    color: black;
    font-size: 12px;
    width: auto;
    height: 15vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.article-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.btn-article {
    border: 2px #115272 solid;
    background-color: transparent;
    border-radius: 20px;
    color: #115272;
    width: 100%;
}

.btn-article:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .recommendation-article h2 {
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .articles-container {
        white-space: normal;
        overflow-x: auto;
        overflow-y: auto;
        scrollbar-width: thin;
        max-height: 600px;
    }

    .article {
        width: 100%;
        margin-right: 0;
    }

    .no-article-message {
        margin-top: 10px;
    }
}


@media screen and (max-width: 768px) {
    .publications-container {
        padding: 20px;
    }
}

.article-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.article-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.article-table th,
.article-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.article-table th {
    background-color: #f2f2f2;
    color: #333;
}

.article-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.article-table tbody tr:hover {
    background-color: #f2f2f2;
}

.article-table tbody td {
    color: #666;
}

.published-articles {
    display: none;
}

.recommendation-article {
    display: block;
    width: 100%;
    height: auto;
    background-color: #F5F7F8;
}

.recommendation-article h2 {
    color: #115272;
    margin-left: 95px;
    display: flex;
    padding-top: 60px;
}

.articles-container {
    width: auto !important;
    height: auto;
    border: none;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.articles-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
}

.articles-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.no-article-message {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: 20px;
    border-radius: 5px;
    white-space: normal !important;
}

.no-article-message p {
    margin: 0;
    font-size: 16px;
}

.article {
    width: 25%;
    height: auto;
    margin-right: 80px;
    margin-bottom: 20px;
    background-color: transparent;
    display: inline-block;
    white-space: normal; 
}

.article .h6 {
    color: #115272;
    width: auto;
    height: 10vh;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: justify;
}

.article .h6::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.article-info {
    opacity: 0.6;
    font-size: 12px;
    width: 100%;
    text-align: justify;
}

.author {
    color: #115272;
    font-size: 12px;
    display: block;
}

.article-content {
    color: black;
    font-size: 12px;
    width: auto;
    height: 15vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.article-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.btn-article {
    border: 2px #115272 solid;
    background-color: transparent;
    border-radius: 20px;
    color: #115272;
    width: 100%;
}

.btn-article:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .recommendation-article h2 {
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .articles-container {
        white-space: normal;
        overflow-x: auto;
        overflow-y: auto;
        scrollbar-width: thin;
        max-height: 600px;
    }

    .article {
        width: 100%;
        margin-right: 0;
    }

    .no-article-message {
        margin-top: 10px;
    }
}






.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: white;
}

.continue-reading-article-container {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.continue-reading-article-details {
    border: none;
    display: inline-block;
    width: 65%;
    color: #454545;
}

.continue-reading-article-details .continue-reading-keywords {
    margin-bottom: 10px;
}

.continue-reading-article-details .continue-reading-keyword {
    display: inline-block;
    background-color: #e1e1e1;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 0.875em;
    color: #115272;
    margin-left: 50px;
}

.continue-reading-article-details h6 {
    color: #115272;
}

.continue-reading-article-stats {
    display: inline-block;
    width: 30%;
    border: none;
    flex-direction: column;
    margin-left: 20px;
    /* margin-bottom: 50px; */
}

.continue-reading-stats-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.continue-reading-view-downloads, .continue-reading-view-download {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.continue-reading-stats-values {
    font-size: larger;
}

.continue-reading-stats-labels {
    font-size: smaller;
    text-transform: uppercase;
    margin: 0;
}

.continue-reading-published-infos {
    align-self: flex-start;
    justify-content: left;
    width: 100%;
}

.continue-reading-published-infos h5,
.continue-reading-published-infos p {
    margin: 0;
    text-align: left;
}

.continue-reading-publish-labels {
    font-weight: bold;
    margin-bottom: 5px;
}

.continue-reading-authors {
    font-style: italic;
}

.continue-reading-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    color: #115272;
}

.continue-reading-container {
    flex-direction: column;
    margin-left: 80px;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .continue-reading-article-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        border-bottom: 1px solid #ccc;
    }

    .continue-reading-container {
        margin-left: 0;
    }

    .continue-reading-container h1 {
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .continue-reading-article-details {
        width: auto;
    }

    .continue-reading-article-stats {
        width: 100%;
        margin-left: 0;
    }

    .continue-reading-stats-container {
        align-items: center;
        justify-content: center;
    }

    .continue-reading-article-details h6,
    .continue-reading-article-details p {
        text-align: justify;
    }
}


.cert-container{
    width: 100%;
}
#cert1 {
    width: 800px;
    height: 500px;
}
.cert-category{
    position: absolute;
}

.cert-rev-details{
    position: absolute;
    height: 23vh;
    margin-top: 110px;
    /* text-align: left; */
    margin-right: 40px;
}

#iss1{
    text-align: left;
    margin-left: -365px;
}

#category {
    top: 0px;
    left: 5px;
    font-weight: bold;
    text-align: left;
    font-style: italic;
    margin-top: -180px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: -370px;
    margin-top: -240px;
    color: #00123D;
}

#awardee {
    font-weight: bold;
    margin-left: 80px;
    margin-top: 25px;
}

#awardeeName {
    text-align: left;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    font-style: italic;
    font-size: 25px;
    /* margin-top: 125px; */
    color: #00123D;
}

#revDate{
    color: #00123D; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: left; 
    margin-left: 50px;
}

.iss2{
    top: 0;
}

.publishdate{
    top: 0;
    margin-left: 110px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #00123D;
}

.articlePubInfo {
    position: absolute;
    top: -135px;
    left: -100px;
}
.pubInfo{
    margin-top: 95px;
    height: 24vh;
    display: block;
}
#categoryPublished{
    color: #00123D;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 30px;
}

#engagement {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 80px;
}

#engagementTitle {
    font-weight: normal;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    width: 550px;
    line-height: 25px;
    font-size: 20px;
    padding-top: 35px;
    color: #00123D;
    /* margin-left: -100px; */
    text-align: left;
}

section {
    padding: 1em 8% !important;
}

#loadingOverlay,
#loadingOverlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1000;
}

#loadingSpinner,
#loadingSpinner2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fa-search {
    height: 25px;
}

#userContainer {
    float: right;
}

a.dfn-hover {
    color: #333;
    text-decoration: none;
}

dfn {
    padding: 0 0.4em;
    cursor: help;
    font-style: normal;
    position: relative;
}

dfn::after {
    content: attr(data-info);
    display: inline;
    position: absolute;
    top: 22px;
    left: 0;
    opacity: 0;
    width: 230px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5em;
    padding: 0.5em 0.8em;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    pointer-events: none;
    transition: opacity 250ms, top 250ms;
}

dfn::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 20px;
    opacity: 0;
    width: 0;
    height: 0;
    border: solid transparent 5px;
    border-bottom-color: rgba(0, 0, 0, 0.8);
    transition: opacity 250ms, top 250ms;
}

dfn:hover {
    z-index: 2;
}

dfn:hover::after,
dfn:hover::before {
    opacity: 1;
}

dfn:hover::after {
    top: 30px;
}

dfn:hover::before {
    top: 20px;
}

