#form{
    width: 350px;
    border: none;
    height: auto;
    box-shadow:  0 20px 20px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding-top: 5px;
 }
 
 
 
 .descript{
     text-align: center;
     margin-bottom: 40px;
 }
 
 .descript, input[type="text"], input[type="button"]{
     margin-left: auto;
     margin-right: auto;
     width: 90%;
     height: 35px;
     padding-left: 10px;
     outline: none;
     margin-left: 20px;
   
 
 }

 input[type="button"]{
    margin-bottom: 20px;
 }
 
 .descript{
     font-size: 20px;
     margin-top: 40px;
     
 }
 
 .descript span{
     font-size: 15px;
     
     
 }
 input[type="text"]{
     margin-top: 20px;
     text-align: center;
 }
 
 
 input[type="text"]:focus{
     outline: 1px solid;
     
 }
 
 .validation{
     color: red;
     text-align: center;
     margin-top: 10px;
     margin-bottom: -5px;
 }
 
 
 input[type="submit"]{
     margin-bottom: 40px;
 }