/* new.css */

.table {
  margin-bottom: 0 !important;
  padding: 15px !important;
}

#DataTable td {
  max-width: 200px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  padding: 10px !important; /* Add padding to the table entries */
}

#DataTable_length, #DataTable_filter, #DataTable_info {
  padding: 10px !important; /* Add padding to the Show entries section */
}

.white-bg {
  background-color: white !important;
}
