.home-section .home-content{
    position: relative;
    padding-top: 104px;
  }
  .home-content .overview-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
  }

  .home-content .box .indicator{
    display: flex;
    align-items: center;
  }
  .home-content .box .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
  }
  .home-content .box .indicator .text{
    font-size: 12px;
  }
  .home-content .box .cart{
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
  }
  .home-content .box .cart.two{
     color: #2BD47D;
     background: #C0F2D8;
   }
  .home-content .box .cart.three{
     color: #ffc233;
     background: #ffe8b3;
   }
  .home-content .box .cart.four{
     color: #e05260;
     background: #f7d4d7;
   }
  .home-content .total-order{
    font-size: 20px;
    font-weight: 500;
  }
  .home-content .sales-boxes{
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
  }
  
  /* left box */
  .home-content .sales-boxes .recent-sales{
    width: 65%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .home-content .sales-boxes .sales-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* Right box */
.home-content .sales-boxes .top-sales{
    width: 35%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px 0 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .overview-boxes .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .overview-boxes .box-topic{
    font-size: 15px;
    font-weight: 400;
  }
  @media (max-width: 768px) {
    .overview-boxes .box {
      width: 100%;
      margin-bottom: 15px;
    }
    .sidebar.active ~ .home-section nav .profile-details{
        display: none;
      }
          .home-content .sales-boxes{
      flex-direction: column;
    }
    .home-content .sales-boxes .box{
      width: 100%;
      overflow-x: scroll;
      margin-bottom: 30px;
    }
    .home-content .sales-boxes .top-sales{
      margin: 0;
    }
  }


  .home-content .box .number{
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
  }
  .box .indicator i.down{
    background: #e87d88;
  }
  .sales-boxes .box .title{
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
  }
  .sales-boxes .box .button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .sales-boxes .box .button a{
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .sales-boxes .box .button a:hover{
    background:  #0d3073;
  }
  .chart-row {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin: 20px;
}
.chart-main{
    background: white;
}
.chart-container {
    width: 60%;
    height: auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 20px;
    margin-right: 30px;
}
.chart-container1 {
    width: 60%;
    height: auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 30px;
}

.chart-title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
#yearDropdown{
    margin: 15px 0px 0px 10px;
}
#doughnutContainer1,
#doughnutContainer2,
#doughnutContainer3 {
    width: auto;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

